<section>
    <div class="py-5">
        <div class="text-center">
            <h2>Our Porfolio</h2>
            <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
        </div>
        <div class="row justify-content-center gx-2 gy-3 mt-4">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="350" height="290" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="650" height="390" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="350" height="290" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="450" height="390" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="450" height="290" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="450" height="290" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="450" height="290" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="850" height="290" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="650" height="290" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="650" height="290" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="650" height="290" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="porfolio-card">
                    <div>
                        <img src="/images/png/portfolio-img.png" alt="Blog-Images" width="650" height="290" class="img-fluid" loading="lazy">
                    </div>
                    <div>
                        <strong class="fs-4 fw-normal">Portfolio Name</strong>
                        <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>