.ep-tag {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    border-radius: 1rem;
    padding: .25rem 1rem;
    border: 1px solid var(--blue-clr);
    background-color: var(--white-clr);
    font-size: 1rem;
    font-weight: 600;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;
    overflow: hidden;
}

.ep-tag::before {
    content: '';
    position: absolute;
    top: 0;
    left: -25%;
    width: 0%;
    height: 150px;
    cursor: pointer;
    border: 4px solid var(--ligblue-clr);
    transform: skewX(-25deg);
    z-index: -1;
    transition: left 1s ease-in-out;
}

.ep-tag:hover::before {
    left: 85%;
}

.ep-tag span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 1rem;
    background-color: var(--blue-clr);
}

.exchangePage-banner {
    height: 80dvh;
    padding: 2rem;
}

.cardDesign {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-top: 8px solid var(--blue-clr);
    border-bottom: 2px solid var(--ligblue-clr);
    border-left: 2px solid var(--ligblue-clr);
    border-right: 2px solid var(--ligblue-clr);
    padding: 2rem 1rem;
    border-radius: .5rem;
    transform: translateY(0%);
    transition: 0.4s ease-in-out;
}

.cardDesign:hover {
    transform: translateY(-2%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.flex-x-exchange{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.gl-box-inner{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: 1rem;
    background-color: var(--white-clr);
    border-radius: .5rem;
    height: 100%;
}

.dp-card-v1{
    position: relative;
    padding: 1rem;
    border: 2px solid var(--blue-v1);
    border-radius: .5rem;
    transition: 0.4s ease-in-out;
}

.dpc-num-v1{
    position: absolute;
    font-size: clamp(2rem, 6vw, 6rem);
    font-weight: 800;
    line-height: 90px;
    top: 1%;
    right: 1%;
    z-index: -1;
    color: var(--grey-clr);
    transition: 0.4s ease-in-out;
}

.dp-card-v1:hover .dpc-num-v1{
    color: var(--blue-v1);
}

.dp-card-v1:hover{
    border: 2px solid var(--blue-clr);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wcu-box-v1{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
    padding: 1rem;
    height: 100%;
    transform: translateY(0%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.4s ease-in-out;

    &:hover{
        transform: translateY(-4%);
    }
}


/* -----------------------------------------------Responsive Code----------------------------------------- */

@media only screen and (max-width: 576px) {

    .exchangePage-banner {
        height: auto;
        padding: 2rem;
    }

}

@media only screen and (min-width: 577px) and (max-width:767px) {

    .exchangePage-banner {
        height: 40dvh;
        padding: 2rem;
    }
}

@media only screen and (min-width: 768px) and (max-width:992px) {

    .exchangePage-banner {
        height: 50dvh;
        padding: 2rem;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {

    .exchangePage-banner {
        height: 60dvh;
        padding: 2rem;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1439px) {}