.bodyflex {
    display: flex;
}

.flex-x {
    display: flex;
    align-items: center;
}

.flex-y{
    display: flex;
    flex-direction: column;
}

.custom-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
}

.custom-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.custom-flex-four {
    display: flex;
    gap: 1rem;
}

.custom-flex>div {
    flex: 0 0 calc(28.333% - 1rem);
}

.custom-flex-four>div {
    flex: 0 0 calc(25.333% - 1rem);
    transition: 0.4s ease-in-out;
}

.img-inner-zoom-effect {
    overflow: hidden;
}

.img-inner-zoom-effect img {
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}

.custom-flex-four>div:hover .img-inner-zoom-effect img {
    transform: scale(1.045);
}


.feildError{
    text-align: right;
    font-size: .85rem;
    font-weight: 400;
    margin-top: .3rem;
    color: var(--red-clr);
}

.clients-slider-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 2rem 0;
    margin: 0 auto;
    overflow: hidden;
}

.clients-slider-container::before,
.clients-slider-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 80px;
    /* fade width */
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

/* Left fade */
.clients-slider-container::before {
    left: 0;
    background: linear-gradient(to right,
            #ffffff 0%,
            rgba(255, 255, 255, 0) 100%);
}

/* Right fade */
.clients-slider-container::after {
    right: 0;
    background: linear-gradient(to left,
            #ffffff 0%,
            rgba(255, 255, 255, 0) 100%);
}

.clients-slider {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

.clients-slider img {
    flex-shrink: 0;
    margin-right: 1rem;
    /* use margin instead of gap */
}

.clients-slider-container:hover .clients-slider {
    animation-play-state: paused;
}


/* Animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.techstack-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: .2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.tech-tab {
    background-color: var(--white-clr);
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.tech-tab.active {
    border-left: 2px solid var(--black-clr);
}

.frontend,
.backend,
.server,
.database,
.devops,
.mobile,
.cms,
.blockchain {
    position: relative;
}

.frontend::before,
.backend::before,
.server::before,
.database::before,
.devops::before,
.mobile::before,
.cms::before,
.blockchain::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 0 .5rem 0;
}

.frontend::before {
    background-color: var(--brand-clr);
}

.backend::before {
    background-color: var(--blue-clr);
}

.server::before {
    background-color: var(--pink-clr);
}

.database::before {
    background-color: var(--green-clr);
}

.devops::before {
    background-color: var(--grey-clr1);
}

.mobile::before {
    background-color: var(--ligblue-clr);
}

.cms::before {
    background-color: var(--grey-clr2);
}

.blockchain::before {
    background-color: var(--ligpink-clr);
}

.client-bg1,
.client-bg3 {
    background-color: var(--grey-clr3);
}

.client-bg2,
.client-bg4 {
    background-color: var(--grey-clr4);
}


.custom-overflow-scroll {
    overflow-x: visible;
}

.scrollbar-hide {
    scrollbar-width: none;
}

.blg-btn-handler {
    position: absolute;
    right: 0%;
    bottom: 0;
}

.blg-btn {
    border: none;
    background-color: var(--white-clr);
    padding: 1rem;
    border-radius: .75rem 0 0 0;
}

.cta {
    position: relative;
    background-color: var(--blue-clr);
    color: var(--white-clr);
    padding: 2.5rem;
    height: 300px;
    border-radius: 2rem 0;
    overflow: hidden;
}

.cta::before {
    content: '';
    position: absolute;
    right: -4%;
    bottom: -20%;
    background-color: var(--black-clr);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    border: 5px solid var(--white-clr)
}

.cta-button {
    border: 2px solid var(--black-clr);
    background-color: var(--black-clr);
    color: var(--white-clr);
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    transform: scale(1);
    transition: 0.4s ease-in-out;
}

.cta-button:hover {
    border: 2px solid var(--white-clr);
    transform: scale(1.025);
}

.calltoaction-container {
    position: relative;
    height: 100%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: var(--grey-clr1);
    color: var(--white-clr);
    border-radius: .5rem;
    z-index: 1;
    overflow: hidden;
}

.calltoaction-container::before,
.calltoaction-container::after {
    content: '';
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 1rem solid var(--white-clr);
    width: 200px;
    height: 200px;
    z-index: -1;
}

.calltoaction-container::before {
    top: -10%;
    left: -5%;
}

.calltoaction-container::after {
    bottom: -10%;
    right: -5%;
}

.calltoaction-container strong {
    font-size: clamp(1.8rem, 3vw, 2.4rem);
    line-height: 2rem;
}

.calltoaction-container p {
    width: 100%;
    max-width: 800px;
    margin: auto;
    line-height: 2rem;
    color: var(--white-clr);
}

.calltoaction-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.calltoaction-container button {
    padding: .5rem 1rem;
    background-color: var(--white-clr);
    border-radius: .25rem;
    border: 1px solid transparent;
    font-size: 1rem;
    font-weight: 500;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.calltoaction-container button:hover {
    transform: scale(1.025);
}

.accordion-item {
    font-size: 1rem;
    border: 4px var(--blue-clr);
    border-style: none solid none solid;
    margin-bottom: 1rem;
    transition: 0.4s ease-in-out;
}

.accordion-item:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: var(--blue-clr);
    background-color: transparent;
}

/* Extra Small Devices (Phones) */
@media only screen and (max-width: 576px) {

    .sidebar-links {
        position: fixed;
        top: var(--padding-top);
        left: 0;
        margin-right: 0rem;
        opacity: 0;
        visibility: hidden;
        width: 0%;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        height: 100dvh;
    }

    .sidebar-links.open {
        width: 250px;
        margin-right: 1rem;
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex {
        flex-wrap: nowrap;
    }

    .custom-flex>div {
        flex: 0 0 calc(90% - 1rem);
    }

    .custom-flex-four>div {
        flex: 0 0 calc(100% - 1rem);
    }

    .cta {
        height: auto;
    }

    .calltoaction-container::before,
    .calltoaction-container::after {
        width: 70px;
        height: 70px;
    }

    .calltoaction-container::before{
        top: -8%;
        left: -8%;
    }

    .calltoaction-container::before{
        bottom: -8%;
        right: -8%;
    }

}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .sidebar-links {
        position: fixed;
        top: var(--padding-top);
        left: 0;
        margin-right: 0rem;
        opacity: 0;
        visibility: hidden;
        width: 0%;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        height: 100dvh;
    }

    .sidebar-links.open {
        width: 250px;
        margin-right: 1rem;
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex {
        flex-wrap: nowrap;
    }

    .custom-flex>div {
        flex: 0 0 calc(50% - 1rem);
    }

    .custom-flex-four>div {
        flex: 0 0 calc(50.333% - 1rem);
    }

    .cta {
        height: auto;
    }

    .calltoaction-container::before,
    .calltoaction-container::after {
        width: 100px;
        height: 100px;
    }

    .calltoaction-container::before{
        top: -8%;
        left: -8%;
    }

    .calltoaction-container::before{
        bottom: -8%;
        right: -8%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .sidebar-links {
        position: fixed;
        top: var(--padding-top);
        left: 0;
        margin-right: 0rem;
        opacity: 0;
        visibility: hidden;
        width: 0%;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        height: 100dvh;
    }

    .sidebar-links.open {
        width: 250px;
        margin-right: 1rem;
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex {
        flex-wrap: nowrap;
    }

    .custom-flex>div {
        flex: 0 0 calc(50% - 1rem);
    }

    .custom-flex-four>div {
        flex: 0 0 calc(33.333% - 1rem);
    }
    
    .calltoaction-container::before,
    .calltoaction-container::after {
        width: 125px;
        height: 125px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .sidebar-links {
        width: 225px;
    }

    .clients-slider-container {
        max-width: 800px;
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex>div {
        flex: 0 0 calc(37.777% - 1rem);
    }

    .custom-flex-four>div {
        flex: 0 0 calc(33.333% - 1rem);
    }
     
    .calltoaction-container::before,
    .calltoaction-container::after {
        width: 125px;
        height: 125px;
    }
}