.bodyflex {
    display: flex;
}

.sidebar-links {
    position: sticky;
    top: var(--padding-top);
    align-self: flex-start;
    width: 225px;
    height: auto;
    background-color: var(--white-clr);
    margin-right: 1rem;
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.sidebar-links.open {
    margin-right: 0rem;
    opacity: 0;
    visibility: hidden;
    width: 0%;
    transform: translateX(-100%);
}

.custom-overflow-scroll {
    overflow-x: visible;
}

.scrollbar-hide{
    scrollbar-width: none;
}

.custom-flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
}

.custom-flex-four{
    display: flex;
    gap: 1rem;
}

.custom-flex>div {
    flex: 0 0 calc(33.333% - 1rem);
}

.custom-flex-four>div {
    flex: 0 0 calc(25.333% - 1rem);
    transition: 0.4s ease-in-out;
}

.img-inner-zoom-effect {
    overflow: hidden;
}

.img-inner-zoom-effect img {
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}

.custom-flex-four>div:hover .img-inner-zoom-effect img {
    transform: scale(1.045);
}

.blg-btn-handler {
    position: absolute;
    right: 0%;
    bottom: 0;
}

.blg-btn {
    border: none;
    background-color: var(--white-clr);
    padding: 1rem;
    border-radius: .75rem 0 0 0;
}

.cta {
    position: relative;
    background-color: var(--blue-clr);
    color: var(--white-clr);
    padding: 2.5rem;
    height: 300px;
    border-radius: 2rem 0;
    overflow: hidden;
}

.cta::before {
    content: '';
    position: absolute;
    right: -4%;
    bottom: -20%;
    background-color: var(--black-clr);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    border: 5px solid var(--white-clr)
}

.cta-button {
    border: 2px solid var(--black-clr);
    background-color: var(--black-clr);
    color: var(--white-clr);
    padding: .75rem 1.25rem;
    border-radius: .5rem;
    transform: scale(1);
    transition: 0.4s ease-in-out;
}

.cta-button:hover {
    border: 2px solid var(--white-clr);
    transform: scale(1.025);
}

/* Extra Small Devices (Phones) */
@media only screen and (max-width: 576px) {

    .sidebar-links {
        position: fixed;
        top: var(--padding-top);
        left: 0;
        margin-right: 0rem;
        opacity: 0;
        visibility: hidden;
        width: 0%;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        height: 100dvh;
    }

    .sidebar-links.open {
        width: 250px;
        margin-right: 1rem;
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex {
        flex-wrap: nowrap;
    }

    .custom-flex>div {
        flex: 0 0 100%;
    }


    .custom-flex-four>div {
        flex: 0 0 calc(100% - 1rem);
    }

}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .sidebar-links {
        position: fixed;
        top: var(--padding-top);
        left: 0;
        margin-right: 0rem;
        opacity: 0;
        visibility: hidden;
        width: 0%;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        height: 100dvh;
    }

    .sidebar-links.open {
        width: 250px;
        margin-right: 1rem;
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex {
        flex-wrap: nowrap;
    }

    .custom-flex>div {
        flex: 0 0 calc(50% - 1rem);
    }

    .custom-flex-four>div {
        flex: 0 0 calc(50.333% - 1rem);
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .sidebar-links {
        position: fixed;
        top: var(--padding-top);
        left: 0;
        margin-right: 0rem;
        opacity: 0;
        visibility: hidden;
        width: 0%;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        height: 100dvh;
    }

    .sidebar-links.open {
        width: 250px;
        margin-right: 1rem;
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex {
        flex-wrap: nowrap;
    }

    .custom-flex>div {
        flex: 0 0 calc(50% - 1rem);
    }

    .custom-flex-four>div {
        flex: 0 0 calc(33.333% - 1rem);
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .sidebar-links {
        width: 225px;
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex-four>div {
        flex: 0 0 calc(33.333% - 1rem);
    }
}