.half-bg {
    background: #FFF;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 45%, rgba(242, 242, 242, 1) 45%);
}

.contact-shadow {
    background: #FFF;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contact-info {
    position: relative;
    border-radius: 1rem;
    background-color: var(--grey-clr3);
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    z-index: 1;
    overflow: hidden;
}

.contact-info::before {
    content: '';
    position: absolute;
    bottom: -10%;
    right: -10%;
    width: 150px;
    height: 150px;
    background-color: var(--grey-clr5);
    border-radius: 100px;
    z-index: -1;
}

.ci-text {
    font-size: 1.05rem;
    font-weight: 500;
}

.contact-form-label {
    font-size: 1rem;
    font-weight: 500;
}

.contact-form-feild {
    background-color: transparent;
    border: 2px var(--grey-clr5);
    border-style: none none solid none;
    width: 100%;
    padding: .75rem 0rem;
    outline: none;
    color: var(--grey-clr1);
}

.contact-button {
    background-color: var(--blue-clr);
    padding: .5rem 1.5rem;
    border: 1px solid var(--blue-v1);
    color: var(--white-clr);
    border-radius: .5rem;
}

.circle-icon{
    display: flex;
    align-items: center;
    gap: .25rem;
    text-align: start;
}

.circle-icon::before{
    content: '';
    background-image: url('/images/png/circleTick.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(100%);
    width: 20px;
    height: 20px;
}

