.footer-links{
    font-size: 1.10rem;
    font-weight: 400;
    transform: translateX(0%);
    transition: transform 0.4s ease-in-out, 0.4s ease-in-out;
}

.footer-links a{
    text-decoration: none;
    color: var(--black-clr);
    transition: 0.4s ease-in-out;
}

.footer-links:hover,
.footer-links a:hover{
    color: var(--blue-clr);
    transform: translateX(3%);
}


.footer-email-feild{
    border: 2px solid var(--black-clr);
    padding: .5rem;
    border-radius: .5rem;
}

.footer-email-feild input{
    border: none;
    outline: none;
}

.footer-send-btn{
    border: 2px solid transparent;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    background-color: var(--blue-clr);
    color: var(--white-clr);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.footer-send-btn:hover{
    background-color: var(--white-clr);
    color: var(--black-clr);
    border: 2px solid var(--blue-clr);
}