.banner-content {
    height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.banner-img {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.about-highlight{
    display: flex;
    place-items: center;
    padding: 1rem;
    height: 100%;
    min-height: 125px;
    background-color: var(--grey-clr);
    border-radius: .5rem;
    border: 1px solid var(--grey-clr1);
}

.industry-container{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 1.5rem;
    height: 100%;
    background-color: var(--grey-clr);
}

.industry-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    place-items: center;
    margin: auto;
    width: 5px;
    height: 15px;
    border-radius: 1rem;
    background-color: var(--grey-clr1);
    transition: height 0.2s ease-in-out;
}

.industry-container:hover::before{
    height: 40px;
}

.sticky-content {
    position: sticky;
    top: 15%;
}

.service-short-cut {
    transition: 0.4s ease-in-out;
}

.text-color-effect {
    box-shadow: inset 0 0 0 var(--white-clr);
    color: var(--black-clr);
    transition: 0.4s ease-in-out;
}

.service-short-cut:hover .text-color-effect {
    box-shadow: inset 100px 0 0 var(--white-clr);
    color: var(--blue-clr);
}

.cta-bg {
    padding: 0;
    height: 300px;
    background-color: var(--blue-clr);
    border-radius: 0 1.5rem;
}

.cta-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    color: var(--white-clr);
    height: 100%;
    width: 100%;
}

/* -------------------------------------- Responive Code -------------------------------------------- */


@media only screen and (max-width: 576px) {
    .banner-content {
        height: 30dvh;
    }

    .sticky-content {
        position: static;
        top: 0%;
    }

    .cta-bg {
        padding: 0;
        height: 250px;
    }

}

@media only screen and (min-width: 577px) and (max-width:767px) {

    .banner-content {
        height: 30dvh;
    }

    .sticky-content {
        position: static;
        top: 0%;
    }
}

@media only screen and (min-width: 768px) and (max-width:992px) {
    .banner-content {
        height: 40dvh;
    }

    .sticky-content {
        position: static;
        top: 0%;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .banner-content {
        height: 40dvh;
    }

    .sticky-content {
        position: sticky;
        top: 10%;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1439px) {}

@media screen and (min-width: 1570px) and (max-width: 1919px) {}

@media screen and (min-width: 1920px) and (max-width: 2560px) {}