.banner-content {
    height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 1rem;
    z-index: 1;
}

.banner-img {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.about-highlight{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    background: var(--grad-clr-o-lig);
    border-radius: .5rem;
}

.about-highlight p:nth-of-type(1){
    font-weight: 700;
    color: var(--black-clr);
    margin-bottom: .6rem !important;
}

.about-highlight p:nth-of-type(2){
    font-weight: 500;
    margin-bottom: 0 !important;
}

.aboutHl-padding{
    padding: 3rem;
}

.ah-text-head{
    line-height: 1;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    font-family: 'Roboto', sans-serif;
}

.ah-text-para{
    font-size: 1.25rem;
    letter-spacing: 0.01rem;
    font-family: 'Poppins', sans-serif;
}

.industry-container{
    position: relative;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 2rem 1.5rem;
    height: 100%;
    background: var(--black-clr);
    border-radius: .5rem;
}

.ic-para-txt{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
    color: var(--white-clr);
    font-family: 'Poppins', sans-serif;
}

.ic-para-txt::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: var(--grad-clr-o);
    border-radius: 50%;
}

.sticky-content {
    position: sticky;
    top: 12%;
}

.service-short-cut {
    transition: 0.4s ease-in-out;
}

.text-color-effect {
    box-shadow: inset 0 0 0 var(--white-clr);
    color: var(--black-clr);
    transition: 0.4s ease-in-out;
}

.service-short-cut:hover .text-color-effect {
    box-shadow: inset 100px 0 0 var(--white-clr);
    color: var(--blue-clr);
}

.cta-bg {
    padding: 0;
    height: 300px;
    background-color: var(--blue-clr);
    border-radius: 0 1.5rem;
}

.cta-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    color: var(--white-clr);
    height: 100%;
    width: 100%;
}

/* -------------------------------------- Responive Code -------------------------------------------- */


@media only screen and (max-width: 767px) {
    .banner-content {
        height: auto;
    }

    .sticky-content {
        position: static;
        top: 0%;
    }

    .aboutHl-padding{
        padding: 2.5rem;
    }

    .ah-text-head{
        font-size: 1.75rem;
    }

}


@media only screen and (min-width: 768px) and (max-width:992px) {
    .banner-content {
        height: auto;
    }

    .sticky-content {
        position: static;
        top: 0%;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .banner-content {
        height: auto;
    }

    .sticky-content {
        position: sticky;
        top: 10%;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1439px) {}

@media screen and (min-width: 1570px) and (max-width: 1919px) {}

@media screen and (min-width: 1920px) and (max-width: 2560px) {}