.hubpage-banner {
    height: calc(95vh - var(--padding-top));
    background-image:
        linear-gradient(to left, var(--grey-clr) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grey-clr) 1px, transparent 1px);
    background-size: 180px 180px;
}

.hubpage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.hp-higlig{
    align-items: center;
    gap: .25rem;
    border: 1px solid var(--black-clr);
    padding: .25rem .75rem;
    border-radius: 2rem;
    font-size: .95rem;
    font-weight: 600;
}

.hp-higlig::before{
    content: '';
    padding: .25rem;
    background-color: var(--black-clr);
    border-radius: 3rem;
}

.product-card-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.15rem;
}

.product-link{
    font-size: clamp(1.75rem, 4vw, 1.85rem);
    text-decoration: none;
    color: var(--black-clr);
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    transition: .3s ease-in-out;
}

.product-card:hover .product-link{
    color: var(--blue-clr);
}

.pc-higlig{
    display: flex;
    align-items: center;
    border: 1px solid var(--black-clr);
    padding: .25rem .75rem;
    border-radius: .25rem;
    font-size: .85rem;
    font-weight: 600;
    height: 100%;
}

.develop-card{
    padding: 1rem;
    border: 2px solid var(--grey-clr);
    background-color: var(--grey-clr3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: start;
    border-radius: .5rem;
}

.benefit-card{
    position: relative;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid var(--grey-clr3);
    border-radius: .5rem;
    height: 100%;
    z-index: 1;
}

.benefit-card::before{
    content: '';
    position: absolute;
    bottom: -15%;
    left: 0;
    right: 0;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    border-radius: 4rem;
    background-color: var(--grey-clr4);
    filter: blur(2rem);
    z-index: -1;

}

@media (width <=767px) {
    .hubpage-banner {
        height: calc(75vh - var(--padding-top));
    }

    .product-card-image{
        justify-content: start;
    }
}