.header {
    position: fixed;
    width: 100%;
    background-color: #FFF;
    z-index: 99;
    padding: .75rem 1rem;
}

.header-menu-icon {
    background: var(--white-clr);
    border: 1px solid var(--grey-clr5);
    color: var(--grey-clr2);
    height: 100%;
    padding: .35rem;
    border-radius: .5rem;
    transition: .2s ease-in-out;
}

.header-menu-icon:hover {
    color: var(--blue-clr);
    border-color: var(--blue-clr);
}

.button-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button-glow-orange,
.button-glow-blue {
    position: absolute;
    inset: 0;
    border-radius: 14px;
    filter: blur(18px);
    opacity: .6;
    transition: all .8s ease;
}

.button-glow-orange{
    background: var(--grad-clr-o);
}

.button-glow-blue{
    background: var(--grad-clr-o);
}

.button-wrapper:hover .button-glow--orange,
.button-wrapper:hover .button-glow-blue {
    opacity: 1;
}

.theme-btn{
    background-color: var(--black-clr);
    color: var(--white-clr);
}

.theme-btn-white{
    background-color: var(--white-clr);
    color: var(--black-clr);
}

.theme-btn,
.theme-btn-white {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .75rem 1.25rem;
    border-radius: .35rem;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: .90rem;
    font-weight: 500;
    letter-spacing: 0.01em;
    transition: all .8s ease;
}

.theme-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 30px rgba(75, 85, 99, .3);
}

.arrow{
    stroke: white;
}

.arrow-black{
    stroke: black;
}

.arrow,
.arrow-black {
    stroke-width: 2;
    overflow: visible;
}

.line {
    opacity: 0;
    transition: opacity .3s ease;
}

.arrow-head {
    transition: transform .3s ease;
}

.button-wrapper:hover .line {
    opacity: 1;
}

.button-wrapper:hover .arrow-head {
    transform: translateX(3px);
}

.redirects {
    padding: 0;
    list-style: none;
    height: 100%;
    min-height: calc(100dvh - var(--padding-top));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 0;

}

.dropdown,
.withDropdown {
    padding: 0;
    margin: 0;
}

.dropdown a,
.withDropdown a {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    padding: .5rem 1rem;
    color: var(--black-clr);
    text-decoration: none;
    border-radius: 0 .5rem .5rem 0;
    transition: 0.4s ease-in-out;
}

.arrow-transition-effect {
    opacity: 0;
    transform: translateX(-40%);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.withDropdown a:hover .arrow-transition-effect {
    opacity: 1;
    transform: translateX(0);
}

.dropdown a:hover,
.withDropdown a:hover {
    background-color: var(--grey-clr);
    color: var(--blue-clr);
}

.sidebar-links {
    position: sticky;
    top: var(--padding-top);
    align-self: flex-start;
    width: 225px;
    height: 100%;
    background-color: var(--white-clr);
    border-right: 1px solid var(--grey-clr);
    /* margin-right: 1rem; */
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.sidebar-links.open {
    margin-right: 0rem;
    opacity: 0;
    visibility: hidden;
    width: 0%;
    transform: translateX(-100%);
}

/* common classes start */


.bodyflex {
    display: flex;
}

.flex-x {
    display: flex;
    align-items: center;
}

.flex-y {
    display: flex;
    flex-direction: column;
}

/* common classes end */

.custom-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
}

.custom-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}

.custom-flex-four {
    display: flex;
    gap: 1rem;
}

.custom-flex>div {
    flex: 0 0 calc(28.333% - 1rem);
}

.custom-flex-four>div {
    flex: 0 0 calc(25.333% - 1rem);
    transition: 0.4s ease-in-out;
}

.img-inner-zoom-effect {
    overflow: hidden;
}

.img-inner-zoom-effect img {
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}

.custom-flex-four>div:hover .img-inner-zoom-effect img {
    transform: scale(1.045);
}

.section-title{
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.15rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.03em;
}

.section-title::before{
    content: '';
    width: 30px;
    height: 5px;
    border-radius: .35rem;
    background: var(--grad-clr-o);
}

.feildError {
    text-align: right;
    font-size: .85rem;
    font-weight: 400;
    margin-top: .3rem;
    color: var(--red-clr);
}

.clients-slider-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 1rem 0;
    margin: 0 auto;
    overflow: hidden;
}

.clients-slider-container::before,
.clients-slider-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 80px;
    /* fade width */
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

/* Left fade */
.clients-slider-container::before {
    left: 0;
    background: linear-gradient(to right,
            #ffffff 0%,
            rgba(255, 255, 255, 0) 100%);
}

/* Right fade */
.clients-slider-container::after {
    right: 0;
    background: linear-gradient(to left,
            #ffffff 0%,
            rgba(255, 255, 255, 0) 100%);
}

.clients-slider {
    display: flex;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

.clients-slider img {
    flex-shrink: 0;
    margin-right: 1rem;
    /* use margin instead of gap */
}

.clients-slider-container:hover .clients-slider {
    animation-play-state: paused;
}


/* Animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.techStack-head{
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--grad-clr-o-lig);
    text-align: center;
}

.techStack-body{
    padding: 1rem .5rem;
    font-size: .95rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    background-color: var(--black-clr);
    text-align: center;
}

.techstack-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: .2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.tech-tab {
    background-color: var(--white-clr);
    font-size: 1rem;
    font-weight: 500;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.tech-tab.active {
    border-left: 2px solid var(--black-clr);
}

.frontend,
.backend,
.server,
.database,
.devops,
.mobile,
.cms,
.blockchain {
    position: relative;
}

.frontend::before,
.backend::before,
.server::before,
.database::before,
.devops::before,
.mobile::before,
.cms::before,
.blockchain::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 0 .5rem 0;
}

.frontend::before {
    background-color: var(--brand-clr);
}

.backend::before {
    background-color: var(--blue-clr);
}

.server::before {
    background-color: var(--pink-clr);
}

.database::before {
    background-color: var(--green-clr);
}

.devops::before {
    background-color: var(--grey-clr1);
}

.mobile::before {
    background-color: var(--ligblue-clr);
}

.cms::before {
    background-color: var(--grey-clr2);
}

.blockchain::before {
    background-color: var(--ligpink-clr);
}

.client-bg1,
.client-bg2,
.client-bg3,
.client-bg4 {
    border: 2px solid transparent;
    border-radius: 1rem;
    transition: .4s ease-in-out;
}

.client-bg1 {
    background-color: var(--dark-blue);
}

.client-txt-head span,
.quote-icon,
.profile-icon,
.profile-txt p:first-child,
.company-icon {
    color: var(--orange-clr);
}

.client-head-txt-2 span,
.quote-icon-v2,
.profile-icon-v2,
.profile-txt-v2 p:first-child,
.company-icon-v2{
    color: var(--blue-clr);
}

.client-txt-head p,
.client-txt-body p,
.profile-txt p:last-child {
    color: var(--white-clr);
}

.client-head-txt-2,
.client-body-txt-2 p,
.profile-txt-v2 p:last-child {
    color: var(--black-clr);
}

.client-txt-body p,
.client-body-txt-2 p{
    letter-spacing: .02rem;
    line-height: 1.95rem;
}

.client-border-blue{
    border: 2px solid var(--ligblue-clr);
    border-radius: 1rem;
}

.client-border-orange{
    border-radius: 1rem;
    border: 2px solid var(--orange-lig-v3);
}

.client-bg2{
    background-color: var(--ligblue-clr);
}
.client-bg4 {
    background-color: var(--grey-clr4);
}

.commonIndustry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background-color: var(--grey-clr3);
    height: 100%;
    text-align: center;
}

.ci-letter {
    display: inline-block;
    padding: 1rem 1.20rem;
    background-color: var(--white-clr);
    border-radius: 10rem;
    font-weight: 500;
    font-size: 1.25rem;
}

.custom-overflow-scroll {
    overflow-x: visible;
}

.scrollbar-hide {
    scrollbar-width: none;
}

.ourBlog-width {
    width: 100%;
    min-width: 390px;
}

.blg-btn-handler {
    position: absolute;
    right: 0%;
    bottom: 0;
}

.blg-btn {
    display: inline-block;
    border: none;
    background-color: var(--white-clr);
    padding: 1rem;
    border-radius: .75rem 0 0 0;
}

.common-blog-link {
    display: -webkit-box;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 0;
    color: var(--black-clr);
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .3s ease-in-out;
}

.common-blog-link:hover {
    color: var(--blue-clr);
}


.calltoaction-container {
    position: relative;
    height: 100%;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background-color: var(--grey-clr1);
    color: var(--white-clr);
    border-radius: .5rem;
    z-index: 1;
    overflow: hidden;
}

.calltoaction-container::before,
.calltoaction-container::after {
    content: '';
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 1rem solid var(--white-clr);
    width: 200px;
    height: 200px;
    z-index: -1;
}

.calltoaction-container::before {
    top: -10%;
    left: -5%;
}

.calltoaction-container::after {
    bottom: -10%;
    right: -5%;
}

.calltoaction-container strong {
    font-size: clamp(1.8rem, 3vw, 2.4rem);
    line-height: 3rem;
}

.calltoaction-container p {
    line-height: 2rem;
    color: var(--white-clr);
}

.calltoaction-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 900px;
}

.calltoaction-container button,
.calltoaction-container a {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: var(--white-clr);
    color: var(--black-clr);
    text-decoration: none;
    border-radius: .25rem;
    border: 1px solid transparent;
    font-size: 1rem;
    font-weight: 500;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.calltoaction-container button:hover,
.calltoaction-container a:hover {
    transform: scale(1.025);
}

/* new version start */

.cta-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
    min-height: 350px;
    background-color: var(--dark-blue);
    color: var(--white-clr);
    border-radius: .5rem;
    padding: 4rem 0 0 0;
    overflow: hidden;
    z-index: 1;
}

.cta-left-circle{
    position: absolute;
    bottom: -35%;
    left: -8%;
    width: 200px;
    height: 200px;
    border-radius: 35%;
    background-color: var(--dark-blue);
    outline: 6rem solid var(--orange-clr);
    z-index: -1;
}

.cta-right-circle{
    position: absolute;
    bottom: -35%;
    right: -8%;
    width: 200px;
    height: 200px;
    border-radius: 35%;
    background-color: var(--dark-blue);
    outline: 6rem solid var(--blue-clr);
    z-index: -1;
}

/* new version end */

.footerMailIcon{
    background-color: var(--ligblue-clr);
    padding: .25rem;
    border-radius: .25rem;
}

.footerMailIcon svg{
    color: var(--blue-clr);
}

.footer-social-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    padding: .25rem;
    transition: .3s ease-in-out;
}

.linkedin-bg,
.whatsapp-bg{
    background-color: var(--ligblue-clr);
    color: var(--blue-clr);
}

.insta-bg{
    background-color: var(--orange-lig-v4);
    color: var(--orange-clr);
}

.fcontact-form-label {
    font-size: 1rem;
    font-weight: 500;
}

.fcontact-form-feild {
    background-color: transparent;
    border: 2px var(--grey-clr5);
    border-style: none none solid none;
    width: 100%;
    padding: .75rem 0rem;
    outline: none;
    color: var(--grey-clr1);
}

.fcontact-button {
    background-color: var(--blue-clr);
    padding: .5rem 1.5rem;
    border: 1px solid var(--blue-v1);
    color: var(--white-clr);
    border-radius: .5rem;
}

.quick-lead-container {
    position: fixed;
    bottom: 1%;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    z-index: 20;
    transition: .3s ease-in-out;
}

.quick-lead-container:hover {
    transform: scale(1.03);
}

.quick-lead-container.expanded {
    transform: scale(1.03);
    max-width: 400px;
}

.quick-lead-bg {
    background-color: var(--black-clr);
    padding: .75rem 1rem;
    border-radius: 3rem;
}

.quick-lead-form {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.ql-step {
    width: 100%;
    display: none;
    flex: 1;
    transition: all 0.4s ease;
}

/* Active field */
.ql-step.active {
    display: block;
}

.ql-input-feild {
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--white-clr);
    width: 100%;
}

.ql-input-feild:focus {
    outline: none;
}

.quick-lead-btn {
    background-color: var(--blue-clr);
    font-size: .80rem;
    font-weight: 500;
    padding: .35rem 1rem;
    border-radius: .35rem;
    border: 1px solid transparent;
    color: var(--white-clr);
}

.success-message {
    display: none;
    color: var(--white-clr);
    font-size: 14px;
    padding: .2rem 1rem;
    text-align: center;
}

.success-message.active {
    display: block;
}

.btn-error {
    background-color: #e53935 !important;
    border-color: #e53935 !important;
    transition: 0.3s ease;
}

.accordion-item {
    margin-bottom: 1rem;
    border: none;
    transition: 0.4s ease-in-out;
}

.accordion-button {
    font-size: .95rem;
    padding: 1rem 0;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    color: var(--blue-clr);
    background-color: transparent;
}

.accordion-body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: .02rem;
    text-align: justify;
    padding: .5rem 0rem;
}

.footer-links {
    font-size: 1.10rem;
    font-weight: 400;
    transform: translateX(0%);
    transition: transform 0.4s ease-in-out, 0.4s ease-in-out;
}

.footer-links a {
    text-decoration: none;
    color: var(--black-clr);
    transition: 0.4s ease-in-out;
}

.footer-links:hover,
.footer-links a:hover {
    color: var(--blue-clr);
    transform: translateX(3%);
}


.footer-email-feild {
    border: 2px solid var(--black-clr);
    padding: .5rem;
    border-radius: .5rem;
}

.footer-email-feild input {
    border: none;
    outline: none;
}

.footer-send-btn {
    border: 2px solid transparent;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    background-color: var(--blue-clr);
    color: var(--white-clr);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.footer-send-btn:hover {
    background-color: var(--white-clr);
    color: var(--black-clr);
    border: 2px solid var(--blue-clr);
}

/* Extra Small Devices (Phones) */
@media only screen and (max-width: 576px) {

    .sidebar-links {
        position: fixed;
        top: var(--padding-top);
        left: 0;
        margin-right: 0rem;
        opacity: 0;
        visibility: hidden;
        width: 0%;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        height: 100dvh;
    }

    .sidebar-links.open {
        width: 250px;
        margin-right: 1rem;
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex {
        flex-wrap: nowrap;
    }

    .custom-flex>div {
        flex: 0 0 calc(90% - 1rem);
    }

    .custom-flex-four>div {
        flex: 0 0 calc(100% - 1rem);
    }

    .cta {
        height: auto;
    }

    .calltoaction-container::before,
    .calltoaction-container::after {
        width: 70px;
        height: 70px;
    }

    .calltoaction-container::before {
        top: -8%;
        left: -8%;
    }

    .calltoaction-container::before {
        bottom: -8%;
        right: -8%;
    }

    .quick-lead-container {
        bottom: 1.5%;
    }

    .quick-lead-container.expanded {
        transform: scale(1.01);
        max-width: 350px;
    }

    .cta-container{
        padding: 2rem 1rem 1rem 1rem;
    }

    .cta-left-circle{
        left: -28%;
        outline: 4rem solid var(--orange-clr);
    }

    .cta-right-circle{
        right: -28%;
        outline: 4rem solid var(--blue-clr);
    }
    
    .cta-left-circle,
    .cta-right-circle{
        bottom: -37%;
        width: 150px;
        height: 150px;
    }

}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    .sidebar-links {
        position: fixed;
        top: var(--padding-top);
        left: 0;
        margin-right: 0rem;
        opacity: 0;
        visibility: hidden;
        width: 0%;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        height: 100dvh;
    }

    .sidebar-links.open {
        width: 250px;
        margin-right: 1rem;
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex {
        flex-wrap: nowrap;
    }

    .custom-flex>div {
        flex: 0 0 calc(50% - 1rem);
    }

    .custom-flex-four>div {
        flex: 0 0 calc(50.333% - 1rem);
    }

    .cta {
        height: auto;
    }

    .calltoaction-container::before,
    .calltoaction-container::after {
        width: 100px;
        height: 100px;
    }

    .calltoaction-container::before {
        top: -8%;
        left: -8%;
    }

    .calltoaction-container::before {
        bottom: -8%;
        right: -8%;
    }

    .cta-container{
        padding: 3rem 1rem 1rem 1rem;
    }

    .cta-left-circle{
        left: -18%;
        outline: 4rem solid var(--orange-clr);
    }

    .cta-right-circle{
        right: -18%;
        outline: 4rem solid var(--blue-clr);
    }
    
    .cta-left-circle,
    .cta-right-circle{
        bottom: -20%;
        width: 150px;
        height: 150px;
    }

    .quick-lead-container.expanded {
        transform: scale(1.01);
        max-width: 350px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .sidebar-links {
        position: fixed;
        top: var(--padding-top);
        left: 0;
        margin-right: 0rem;
        opacity: 0;
        visibility: hidden;
        width: 0%;
        transform: translateX(-100%);
        transition: all 0.4s ease-in-out;
        height: 100dvh;
    }

    .sidebar-links.open {
        width: 250px;
        margin-right: 1rem;
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex {
        flex-wrap: nowrap;
    }

    .custom-flex>div {
        flex: 0 0 calc(50% - 1rem);
    }

    .custom-flex-four>div {
        flex: 0 0 calc(33.333% - 1rem);
    }

    .calltoaction-container div {
        max-width: 600px;
    }

    .calltoaction-container::before,
    .calltoaction-container::after {
        width: 125px;
        height: 125px;
    }

    .ourBlog-width {
        min-width: 250px;
    }

    .cta-left-circle{
        outline: 4rem solid var(--orange-clr);
    }

    .cta-right-circle{
        outline: 4rem solid var(--blue-clr);
    }
    
    .cta-left-circle,
    .cta-right-circle{
        bottom: -20%;
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .sidebar-links {
        width: 225px;
    }

    .clients-slider-container {
        max-width: 800px;
    }

    .custom-overflow-scroll {
        overflow-x: auto;
    }

    .custom-flex>div {
        flex: 0 0 calc(37.777% - 1rem);
    }

    .custom-flex-four>div {
        flex: 0 0 calc(33.333% - 1rem);
    }

    .calltoaction-container div {
        max-width: 700px;
    }

    .calltoaction-container::before,
    .calltoaction-container::after {
        width: 125px;
        height: 125px;
    }

    .ourBlog-width {
        width: 100%;
        min-width: 250px;
    }

    .cta-left-circle{
        left: -12%;
        outline: 4rem solid var(--orange-clr);
    }

    .cta-right-circle{
        right: -12%;
        outline: 5rem solid var(--blue-clr);
    }
    
    .cta-left-circle,
    .cta-right-circle{
        bottom: -27%;
        width: 175px;
        height: 175px;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1339px) {

    .calltoaction-container::before,
    .calltoaction-container::after {
        width: 125px;
        height: 125px;
    }
}


@media screen and (min-width: 1920px) and (max-width: 2560px) {
    .sidebar-links {
        width: 275px;
    }

    .redirects {
        min-height: 930px;
    }

    .dropdown a,
    .withDropdown a {
        font-size: 1.15rem;
        padding: 1rem 1rem;
    }
}