main {
    padding-top: var(--padding-top);
}

/* fonts and bg colors */

.brand-clr{
    color: var(--brand-clr);
}

.blue-clr{
    color: var(--blue-clr);
}

.grey-clr-bg{
    background-color: var(--grey-clr);
}

.white-bg{
    background-color: var(--white-clr);
}

.blue-v1{
    background-color: var(--blue-v1);
}

.text-justify{
    text-align: justify;
}

.large-text{
    font-size: clamp(1.25rem, 3vw, 2rem);
}

.text-normal{
    font-size: 1.05rem;
    font-weight: 400;
}

.text-normal-sm{
    font-size: 1.15rem;
    font-weight: 400;
}

.card-txt-h{
    font-size: 1.25rem;
    font-weight: 600;
}

.card-txt-p{
    font-size: 1.08rem;
    font-weight: 400;
    margin: 0;
}

.line-hs{
    letter-spacing: .05rem;
    line-height: 1.75rem;
}

/* fonts and bg colors end */

/* buttons */

.brand-btn{
    position: relative;
    padding: .5rem 1rem;
    background-color: var(--white-clr);
    color: var(--black-clr);
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: .75rem;
    z-index: 1;
    overflow: hidden;
}

.view-more-btn{
    display: inline-flex;
    align-items: center;
    gap: .05rem;
    text-decoration: none;
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: .25rem;
    background-color: var(--blue-clr);
    transform: scale(1);
    transition: 0.4s ease-in-out;
}

.arrow-view-effect{
    opacity: 0;
    transform: translateX(-60%);
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.view-more-btn:hover .arrow-view-effect{
    opacity: 1;
    transform: translateX(0%);
}

.view-more-btn:hover{
    transform: scale(1.045);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.common-blue-btn{
    text-decoration: none;
    color: white;
    padding: .75rem 1rem;
    border: none;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--blue-clr);
    transform: scale(1);
    transition: 0.4s ease-in-out;
}

.common-blue-btn:hover{
    transform: scale(1.045);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.link-hover-effect {
    color: black;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.link-hover-effect:hover {
    color: var(--blue-clr);
}

.common-btn-primary{
    background-color: var(--black-clr);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-size: .90rem;
    font-weight: 500;
    color: var(--white-clr);
    text-decoration: none;
    text-transform: capitalize;
}

.common-btn-secondary{
    border: 2px solid var(--grey-clr);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-size: .90rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--black-clr);
}

/* buttons end */ 

.custom-container {
    margin: 0 auto;
    padding: 0 1rem;
    width: 100%;
    max-width: 1450px;
}

@media only screen and (max-width: 576px) {
}

@media only screen and (min-width: 577px) and (max-width:767px) {
}

@media only screen and (min-width: 768px) and (max-width:992px) {
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {

}

@media only screen and (min-width: 1201px) and (max-width: 1439px) {
}

@media screen and (min-width: 1570px) and (max-width: 1919px) {
    .custom-container {
        width: 100%;
        max-width: 1450px;
    }
}

@media screen and (min-width: 1920px) and (max-width: 2560px) {
    .custom-container {
        width: 100%;
        max-width: 1450px;
    }
}

