<section>
    <div class="pt-1 pt-md-4 pt-xxl-5 pb-5">
        <div class="calltoaction-container">
            <div>
                <strong>What happens after you contact us?</strong>
                <ul class="flex-x flex-wrap justify-content-center gap-3 list-unstyled mt-2">
                    <li class="circle-icon">We review your message</li>
                    <li class="circle-icon">Our expert contacts you within 24 hours</li>
                    <li class="circle-icon">We discuss requirements & next steps</li>
                </ul>
            </div>
        </div>
    </div>
</section>