<section>
    <div>
        <h1 class="text-center">Contact Form</h1>
    </div>
    <div>
        <form class="contact-form" data-formtype="contact">
            <div>
                <label for="name" class="form-label">Enter Your Name:</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter Your Name"
                    autocomplete="name">
                <span class="form-error"></span>
            </div>
            <div>
                <label for="email" class="form-label">Enter Your Email:</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter Your Email" required
                    autocomplete="email">
            </div>
            <div>
                <label for="email" class="form-label">Enter Your Number:</label>
                <input id="phone-contact" class="iti-input form-control" type="tel" placeholder="Enter Your Phone number" />
                <!-- optional hidden fields (not required, we'll append in JS) -->
                <input type="hidden" name="countryCode" />
            </div>
            <div>
                <label for="message" class="form-label">Enter Your Message:</label>
                <textarea name="message" id="message" class="form-control" placeholder="Enter Your Message" rows="5"
                    autocomplete="off"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</section>