<section>
    <div class="hubpage-banner">
        <div class="hubpage-container">
            <small class="hp-higlig d-inline-flex">Automated Lead Generation</small>
            <h1 class="display-2 fw-semibold mb-0">Intelligent Automation for Modern Businesses.</h1>
            <p class="fs-5 fw-medium">Xtract brings AI automation to your fingertips & streamline tasks.</p>
            <div>
                <a href="/contact-us" class="common-btn-primary d-inline-block">Get In Touch</a>
                <a href="#products" class="common-btn-secondary d-inline-block">View Products</a>
            </div>
        </div>
    </div>
</section>