<section>
    <div class="py-5">
        <div class="col-lg-8 col-xxl-6 mx-auto text-center">
            <small class="hp-higlig d-inline-flex mb-3">Why Choose Our Products</small>
            <h2 class="display-6">Built for Performance & Long-Term Success</h2>
            <p class="fs-5 fw-medium">Our products combine innovation, security, and scalability to support sustainable growth.</p>
        </div>
        <div class="mt-5">
            <div class="row justify-content-center g-3">
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Enterprise-Grade Security</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Scalable Architecture</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">User-Centric Design</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">High Performance & Speed</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Future-Ready Technology</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">End-to-End Support</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>