<section>
    <div class="py-5">
        <div class="text-center">
            <h2 class="display-6">Featured <span class="blue-clr">Products</span></h2>
        </div>
        <div class="row gx-4 gy-4 my-2">
            <div class="col-md-6 col-xl-4">
                <div class="category-box">
                    <div class="flex-x gap-2">
                        <div class="img-bg">
                            <img src="/images/hubPage-zigzagarrow.webp" alt="arrow" height="24" width="24"
                                class="img-fluid">
                        </div>
                        <strong class="card-txt-h">Crypto Exchange Software</strong>
                    </div>
                    <div class="flex-y align-items-start">
                        <p class="card-txt-p">Launch a secure, scalable, and high-performance trading platform.</p>
                        <button class="common-blue-btn">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="category-box">
                    <div class="flex-x gap-2">
                        <div class="img-bg">
                            <img src="/images/hubPage-sheild.webp" alt="arrow" height="24" width="24" class="img-fluid">
                        </div>
                        <strong class="card-txt-h">Trading Bot Development</strong>
                    </div>
                    <div class="flex-y align-items-start">
                        <p class="card-txt-p">AI-powered bots for automated trading and improved efficiency.</p>
                        <button class="common-blue-btn">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-4">
                <div class="category-box">
                    <div class="flex-x gap-2">
                        <div class="img-bg">
                            <img src="/images/hubPage-sheild.webp" alt="arrow" height="24" width="24" class="img-fluid">
                        </div>
                        <strong class="card-txt-h">DeFi Platform Solutions</strong>
                    </div>
                    <div class="flex-y align-items-start">
                        <p class="card-txt-p">Enable decentralized finance with lending, staking, and yield farming.</p>
                        <button class="common-blue-btn">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>