<section>
    <div class="py-5">
        <div class="col-lg-8 mx-auto text-center">
            <small class="hp-higlig d-inline-flex mb-3">Our Solutions</small>
            <h2 class="display-6">Explore Our Featured Products</h2>
            <p class="fs-5 fw-medium">From crypto platforms to AI tools, our products are designed for security, and growth.</p>
        </div>
        <div class="col-xl-9 mx-auto mt-5 flex-y gap-5">
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-5 col-xl-4">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
                <div class="col-md-7 col-xl-8">
                    <div class="product-card">
                        <small class="pc-higlig">Exchange Script</small>
                        <div>
                            <a href="/products/crypto-exchange-script" class="product-link">Cryptocurrency Exchange Script</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Affordable Pricing</small>
                            <small class="pc-higlig">Advanced Monitoring</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-7 col-xl-8 order-2 order-md-1">
                    <div class="product-card">
                        <small class="pc-higlig">Payment Gateway</small>
                        <div>
                            <a href="/products/paymet-gatway-zaxor-clone" class="product-link">Payment Gatway Zaxor Clone</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Faster Go-to-Market</small>
                            <small class="pc-higlig">Scale Without Limits</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xl-4 order-1 order-md-2">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-5 col-xl-4">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
                <div class="col-md-7 col-xl-8">
                    <div class="product-card">
                        <small class="pc-higlig">Wallet Clone Script</small>
                        <div>
                            <a href="/products/trusted-wallet-clone-script" class="product-link">Trusted Wallet Clone Script</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Effortless Scalability</small>
                            <small class="pc-higlig">Custom Branding</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-7 col-xl-8 order-2 order-md-1">
                    <div class="product-card">
                        <small class="pc-higlig">Game Clone Scripts</small>
                        <div>
                            <a href="/products/move-to-earn-script" class="product-link">Move-to-Earn (M2E) Games</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Launch in 30 days</small>
                            <small class="pc-higlig">Fully Customizable</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xl-4 order-1 order-md-2">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>