<section>
    <div class="row py-5 gy-4 hubpage-banner">
        <div class="col-md-6 col-xl-6 align-self-center text-center text-md-start">
            <h1 class="hubpage-banner-headtxt">Explore Our <span class="blue-clr">Blockchain & AI Services</span></h1>
            <p class="my-3 text-normal-sm lh-base">Our expert services help businesses build scalable blockchain
                platforms, AI-powered solutions, and Web3 ecosystems. From crypto exchanges to AI automation, we deliver
                innovation, security, and performance.</p>
            <button class="common-blue-btn">View All Services</button>
        </div>
        <div class="col-md-6 col-xl-6 align-self-center">
            <div class="d-flex justify-content-center">
                <img src="/images/png/banner-hubpage.png" alt="banner-hubpage" height="650" width="650"
                    class="img-fluid">
            </div>
        </div>
    </div>
</section>