<section>
    <div class="row py-5 gy-4 hubpage-banner">
        <div class="col-md-6 col-xl-6 align-self-center text-center text-md-start">
            <h1 class="hubpage-banner-headtxt">Latest Trending Technologies in <span class="blue-clr">Blockchain & AI</span></h1>
            <p class="my-3 text-normal-sm lh-base">Stay ahead in a rapidly evolving digital era. From DeFi and Web3 wallets to AI-powered trading, we bring
                you the latest innovations driving the future of blockchain and artificial intelligence.</p>
            <button class="common-blue-btn">Explore Trends</button>
        </div>
        <div class="col-md-6 col-xl-6 align-self-center">
            <div class="d-flex justify-content-center">
                <img src="/images/png/banner-hubpage.png" alt="banner-hubpage" height="650" width="650" class="img-fluid">
            </div>
        </div>
    </div>
</section>