<section>
    <div class="py-5">
        <div class="col-lg-8 col-xxl-6 mx-auto text-center">
            <small class="hp-higlig d-inline-flex mb-3">Why Choose Our Services</small>
            <h2 class="display-6">Driving Value Through Innovation</h2>
            <p class="fs-5 fw-medium">We focus on performance, reliability, and scalability to help businesses grow confidently.</p>
        </div>
        <div class="mt-5">
            <div class="row justify-content-center g-3">
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Custom-Tailored Solutions</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Agile Development Model</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Enterprise-Grade Security</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Scalable Infrastructure</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Dedicated Technical Support</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Future-Ready Architecture</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>