<section>
    <div class="py-5">
        <div class="text-center">
            <h2 class="display-6">Featured <span class="blue-clr">Services</span></h2>
        </div>
        <div class="row gx-4 gy-4 my-2">
            <div class="col-md-6 col-xl-4">
                <div class="category-box">
                    <div class="flex-x gap-2">
                        <div class="img-bg">
                            <img src="/images/hubPage-zigzagarrow.webp" alt="arrow" height="24" width="24"
                                class="img-fluid">
                        </div>
                        <strong class="card-txt-h">Crypto Exchange Development</strong>
                    </div>
                    <div class="flex-y align-items-start">
                        <p class="card-txt-p">Build secure, scalable, and high-performance crypto trading platforms to
                            meet the demands of the global market.</p>
                        <button class="common-blue-btn">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="category-box">
                    <div class="flex-x gap-2">
                        <div class="img-bg">
                            <img src="/images/hubPage-sheild.webp" alt="arrow" height="24" width="24" class="img-fluid">
                        </div>
                        <strong class="card-txt-h">AI-Powered Automation</strong>
                    </div>
                    <div class="flex-y align-items-start">
                        <p class="card-txt-p">Transform operations with AI chatbots, predictive analytics, and intelligent automation for smarter decision-making.</p>
                        <button class="common-blue-btn">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-4">
                <div class="category-box">
                    <div class="flex-x gap-2">
                        <div class="img-bg">
                            <img src="/images/hubPage-sheild.webp" alt="arrow" height="24" width="24" class="img-fluid">
                        </div>
                        <strong class="card-txt-h">Web3 & dApp Development</strong>
                    </div>
                    <div class="flex-y align-items-start">
                        <p class="card-txt-p">Enter the decentralized world with custom-built Web3 apps, DeFi solutions, and NFT platforms.</p>
                        <button class="common-blue-btn">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>