<section>
    <div class="py-5">
        <div class="col-lg-8 col-xxl-6 mx-auto text-center">
            <small class="hp-higlig d-inline-flex mb-3">Our Process</small>
            <h2 class="display-6">Our Simple, Smart, and Scalable Process</h2>
            <p class="fs-5 fw-medium">We design, develop, and implement automation tools that help you work smarter, not harder</p>
        </div>
        <div class="col-xl-9 mx-auto mt-5">
            <div class="row justify-content-center g-2">
                <div class="col-md-6 col-xl-5">
                    <div class="develop-card">
                        <small class="pc-higlig">Step 1</small>
                        <strong class="fs-3 fw-medium">Smart Analyzing</strong>
                        <p>We assess your needs and identify AI solutions to streamline workflows and improve efficiency.</p>
                        <img src="/images/png/Dummy-blog.png" alt="Develop image" width="500" height="450" loading="lazy" class="img-fluid rounded-3">
                    </div>
                </div>
                <div class="col-md-6 col-xl-5">
                    <div class="develop-card">
                        <small class="pc-higlig">Step 2</small>
                        <strong class="fs-3 fw-medium">AI Development</strong>
                        <p>Our team builds intelligent automation systems tailored to your business processes.</p>
                        <img src="/images/png/Dummy-blog.png" alt="Develop image" width="500" height="450" loading="lazy" class="img-fluid rounded-3">
                    </div>
                </div>
                <div class="col-md-6 col-xl-5">
                    <div class="develop-card">
                        <small class="pc-higlig">Step 3</small>
                        <strong class="fs-3 fw-medium">Seamless Integration</strong>
                        <p>We smoothly integrate AI solutions into your existing infrastructure with minimal disruption.</p>
                        <img src="/images/png/Dummy-blog.png" alt="Develop image" width="500" height="450" loading="lazy" class="img-fluid rounded-3">
                    </div>
                </div>
                <div class="col-md-6 col-xl-5">
                    <div class="develop-card">
                        <small class="pc-higlig">Step4</small>
                        <strong class="fs-3 fw-medium">Continuous Optimization</strong>
                        <p>We refine performance, analyze insights, and enhance automation for long-term growth.</p>
                        <img src="/images/png/Dummy-blog.png" alt="Develop image" width="500" height="450" loading="lazy" class="img-fluid rounded-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>