<section>
    <div class="py-5">
        <div class="col-lg-8 col-xxl-6 mx-auto text-center">
            <small class="hp-higlig d-inline-flex mb-3">How We Work</small>
            <h2 class="display-6">Our Development Approach</h2>
            <p class="fs-5 fw-medium">A transparent and agile workflow ensuring quality and timely delivery.</p>
        </div>
        <div class="col-xl-9 mx-auto mt-5">
            <div class="row justify-content-center g-2">
                <div class="col-md-6 col-xl-5">
                    <div class="develop-card">
                        <small class="pc-higlig">Step 1</small>
                        <strong class="fs-3 fw-medium">Smart Analyzing</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <img src="/images/png/Dummy-blog.png" alt="Develop image" width="500" height="450" loading="lazy" class="img-fluid rounded-3">
                    </div>
                </div>
                <div class="col-md-6 col-xl-5">
                    <div class="develop-card">
                        <small class="pc-higlig">Step 2</small>
                        <strong class="fs-3 fw-medium">AI Development</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <img src="/images/png/Dummy-blog.png" alt="Develop image" width="500" height="450" loading="lazy" class="img-fluid rounded-3">
                    </div>
                </div>
                <div class="col-md-6 col-xl-5">
                    <div class="develop-card">
                        <small class="pc-higlig">Step 3</small>
                        <strong class="fs-3 fw-medium">Seamless Integration</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <img src="/images/png/Dummy-blog.png" alt="Develop image" width="500" height="450" loading="lazy" class="img-fluid rounded-3">
                    </div>
                </div>
                <div class="col-md-6 col-xl-5">
                    <div class="develop-card">
                        <small class="pc-higlig">Step4</small>
                        <strong class="fs-3 fw-medium">Continuous Optimization</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        <img src="/images/png/Dummy-blog.png" alt="Develop image" width="500" height="450" loading="lazy" class="img-fluid rounded-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>