<section>
    <div class="py-5">
        <div class="cta text-center">
            <div class="d-flex flex-column justify-content-center align-items-center h-100 gap-3">
                <h3 class="fs-2">Ready to Elevate Your Business with Our Services?</h3>
                <p class="text-normal my-0 col-lg-10 mx-auto">Unlock the power of **blockchain** and **AI-driven services** tailored to your goals. Get started today and transform your digital presence with trusted expertise.</p>
                <button class="cta-button">Get Started</button>
            </div>
        </div>
    </div>
</section>