<section>
    <div class="py-5">
        <div class="cta text-center">
            <div class="d-flex flex-column justify-content-center align-items-center h-100 gap-3">
                <h3 class="fs-2">Ready to Launch Your Blockchain & AI Product?</h3>
                <p class="text-normal mb-0 mx-auto col-lg-10">From crypto exchanges to DeFi platforms, our products are designed to help you succeed in the fast-growing digital economy. Get started today with secure, scalable, and future-ready solutions.</p>
                <button class="cta-button">Request a Free Demo</button>
            </div>
        </div>
    </div>
</section>