<section>
    <div class="py-5">
        <div class="col-lg-8 mx-auto text-center">
            <small class="hp-higlig d-inline-flex mb-3">Our Expertise</small>
            <h2 class="display-6">End-to-End Technology Services</h2>
            <p class="fs-5 fw-medium">We deliver customized blockchain, Web3, and AI services from strategy to deployment.</p>
        </div>
        <div class="col-xl-9 mx-auto mt-5 flex-y gap-5">
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-5 col-xl-4">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
                <div class="col-md-7 col-xl-8">
                    <div class="product-card">
                        <small class="pc-higlig">Exchange</small>
                        <div>
                            <a href="services/crypto-exchange-development" class="product-link">Crypto Exchange Development</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Customizable Trading Engine</small>
                            <small class="pc-higlig">Compliance-Ready Architecture</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-7 col-xl-8 order-2 order-md-1">
                    <div class="product-card">
                        <small class="pc-higlig">Wallet</small>
                        <div>
                            <a href="/services/crypto-wallet-development" class="product-link">Crypto Wallet Development</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Regulated & Security-Certified</small>
                            <small class="pc-higlig">24/7 Global Support</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xl-4 order-1 order-md-2">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-5 col-xl-4">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
                <div class="col-md-7 col-xl-8">
                    <div class="product-card">
                        <small class="pc-higlig">NFT</small>
                        <div>
                            <a href="/services/nft-marketplace-development" class="product-link">NFT Development</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Addiction by Design</small>
                            <small class="pc-higlig">Multi-Device Syncing</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-7 col-xl-8 order-2 order-md-1">
                    <div class="product-card">
                        <small class="pc-higlig">DeFi</small>
                        <div>
                            <a href="/services/defi-development-service" class="product-link">DeFi Development</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Regulatory Ready</small>
                            <small class="pc-higlig">Scale Without Limits</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xl-4 order-1 order-md-2">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>