<section>
    <div class="py-5">
        <div class="col-lg-8 mx-auto text-center">
            <small class="hp-higlig d-inline-flex mb-3">Our Products</small>
            <h2 class="display-6">AI Solutions That Take Your Business to the Next Level</h2>
            <p class="fs-5 fw-medium">We design, develop, and implement automation tools that help you work smarter, not
                harder</p>
        </div>
        <div class="col-xl-9 mx-auto mt-5 flex-y gap-5">
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-5 col-xl-4">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
                <div class="col-md-7 col-xl-8">
                    <div class="product-card">
                        <small class="pc-higlig">Workflow Automation</small>
                        <div>
                            <a href="/" class="product-link">Automate repetitive tasks</a>
                            <p>We help you streamline internal operations by automating manual workflows like data
                                entry,
                                reporting, and approval chains saving time and cutting down errors.</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Internal Task Bots</small>
                            <small class="pc-higlig">100+ Automations</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-7 col-xl-8 order-2 order-md-1">
                    <div class="product-card">
                        <small class="pc-higlig">AI Assistant</small>
                        <div>
                            <a href="/" class="product-link">Delegate Daily Tasks</a>
                            <p>From managing calendars to drafting emails and summarizing meetings, our AI assistants
                                work around the clock to keep your business running smarter and faster.</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Summaries</small>
                            <small class="pc-higlig">Scheduling</small>
                            <small class="pc-higlig">Many more</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xl-4 order-1 order-md-2">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-5 col-xl-4">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
                <div class="col-md-7 col-xl-8">
                    <div class="product-card">
                        <small class="pc-higlig">Sales & Marketing</small>
                        <div>
                            <a href="/" class="product-link">Accelerate Sales Growth</a>
                            <p>AI tools for lead generation, personalized outreach, and automated content creation that
                                scales your sales efforts and builds stronger brand presence.</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Leads</small>
                            <small class="pc-higlig">Content</small>
                            <small class="pc-higlig">Social post</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-7 col-xl-8 order-2 order-md-1">
                    <div class="product-card">
                        <small class="pc-higlig">Custom Projects</small>
                        <div>
                            <a href="/" class="product-link">Build Smarter Systems</a>
                            <p>Whether you're starting from scratch or enhancing an existing system, we offer strategic
                                consulting and develop custom AI projects aligned with your unique goals.</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Strategy</small>
                            <small class="pc-higlig">Custom AI</small>
                            <small class="pc-higlig">Consulting</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xl-4 order-1 order-md-2">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>