<footer>
    <div class="py-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5">
            <% nav.footer.forEach(content=> { %>
            <div class="footer-container">
                <p class="fs-5 mb-1 fw-semibold"><%= content.title %></p>
                <ul class="p-2">
                    <% content.links.forEach(subLink=> { %>
                    <li class="list-unstyled mb-2 footer-links"><a href="<%= subLink.href %>" rel="<%= subLink.rel %>" class=""><%= subLink.name %></a></li>
                    <% }) %>
                </ul>
            </div>
            <% }) %>
            <div>
                <p class="fs-5 mb-1 fw-semibold">Contact</p>
                <div class="p-2">
                    <p class="text-normal d-flex align-items-start gap-1">
                        <img src="/images/footer-location.webp" alt="Location" class="img-fluid" width="24" height="24" loading="lazy">
                        <span>Wisconsin Ave, Suite 700 Chevy Chase, Maryland 20815</span>
                    </p>
                    <p class="text-normal d-flex align-items-start gap-1">
                        <img src="/images/footer-mail.webp" alt="Mail" class="img-fluid" width="24" height="24" loading="lazy">
                        <span>support@figma.com</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-3 gap-3 gap-md-0">
            <div class="d-flex align-items-center gap-3">
                <div class="custom-shadow blue">
                    <img src="/images/footer-facebook.webp" alt="Facebook" class="img-fluid" width="24" height="24" loading="lazy">
                </div>
                <div class="custom-shadow pink">
                    <img src="/images/footer-instagram.webp" alt="Instagram" class="img-fluid" width="24" height="24" loading="lazy">
                </div>
                <div class="custom-shadow black">
                    <img src="/images/footer-twitter.webp" alt="Twitter" class="img-fluid" width="20" height="20" loading="lazy">
                </div>
                <div class="custom-shadow green">
                    <img src="/images/footer-whatsapp.webp" alt="whatsapp" class="img-fluid" width="24" height="24" loading="lazy">
                </div>
            </div>
            <div>
                <p class="text-normal mb-0">Copyright © 2025 Name technologies | All Rights Reserved</p>
            </div>
            <div>
                <p class="text-normal mb-0">Terms and Privacy</p>
            </div>
        </div>
    </div>
</footer>