<section>
    <div class="py-5">
        <div class="py-4 text-center">
            <h2 class="display-6">Our Industry Expertise</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="col-xl-10 mx-auto">
            <div class="row justify-content-center g-2 pt-4">
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="commonIndustry-container">
                        <span class="ci-letter">F</span>
                        <p class="fw-medium fs-6">Finance</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="commonIndustry-container">
                        <span class="ci-letter">R</span>
                        <p class="fw-medium fs-6">Retail</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="commonIndustry-container">
                        <span class="ci-letter">A</span>
                        <p class="fw-medium fs-6">Automobile</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="commonIndustry-container">
                        <span class="ci-letter">EM</span>
                        <p class="fw-medium fs-6">Entertainment & Media</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="commonIndustry-container">
                        <span class="ci-letter">EU</span>
                        <p class="fw-medium fs-6">Energy & Utilities</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="commonIndustry-container">
                        <span class="ci-letter">TL</span>
                        <p class="fw-medium fs-6">Transportation & Logistics</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="commonIndustry-container">
                        <span class="ci-letter">A</span>
                        <p class="fw-medium fs-6">Agriculture</p>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3">
                    <div class="commonIndustry-container">
                        <span class="ci-letter">E</span>
                        <p class="fw-medium fs-6">Education</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>