<nav>
    <div class="header border border-b">
        <div class="d-flex justify-content-between align-items-center">
            <div class="flex-grow-1 flex-md-grow-0">
                <div class="d-flex justify-content-between align-items-start gap-3">
                    <div>
                        <a href="/">
                            <img src="/images/dummy-logo.webp" alt="Company-logo" width="150" height="66" class="img-fluid">
                        </a>
                    </div>
                    <div class="h-100">
                        <button id="hamburger" class="header-menu-icon">
                            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4 6H20M4 12H20M13 18H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-none d-md-block">
                <div class="button-wrapper">
                    <div class="button-glow-orange"></div>
                    <a href="/contact-us" class="theme-btn">Contact Us
                        <svg class="arrow" viewBox="0 0 10 10" width="10" height="10" fill="none">
                            <path class="line" d="M0 5h7"></path>
                            <path class="arrow-head" d="M1 1l4 4-4 4"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
