<title><%= seo.slug || "AI Development Company" %></title>
<meta name="description" content="<%= seo.metaDescription || '' %>" />
<meta name="keywords" content="<%= seo.metaKeyword || '' %>" />

<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="/css/siteTheme.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/footer.css">