<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= seo.metaTitle || "AI Development Company" %></title>
<meta name="description" content="<%= seo.metaDescription || '' %>" />
<meta name="keywords" content="<%= seo.metaKeyword || '' %>" />

<style>
    /* Global Reset */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', sans-serif;
    }
</style>