<nav>
    <div class="header">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <img src="/images/dummy-logo.webp" alt="Company-logo" width="150" height="66" class="img-fluid">
                <img src="/images/menu.webp" alt="Hamburger-icon" width="30" height="30" class="img-fluid" />
            </div>
            <div>
                <button class="btn btn-primary">Inquire Now</button>
            </div>
        </div>
    </div>
</nav>