<section>
    <div class="py-5">
        <div class="text-center pb-3">
            <h2 class="display-6">Our <span class="blue-clr">Insights</span></h2>
        </div>
        <div class="custom-overflow-scroll pb-3">
            <div class="custom-flex-four">
                <div>
                    <div class="img-inner-zoom-effect">
                        <img src="/images/png/blog-insights.png" alt="blog-insights" width="550" height="300" class="img-fluid">
                        
                    </div>
                    <div>
                        <p class="fs-4">Top 5 DeFi Projects to Watch in 2025</p>
                        <a href="" class="view-more-btn">View All</a>
                    </div>
                </div>
                <div>
                    <div class="img-inner-zoom-effect">
                        <img src="/images/png/blog-insights.png" alt="blog-insights" width="550" height="300" class="img-fluid">
                    </div>
                    <div>
                        <p class="fs-4">Top 5 DeFi Projects to Watch in 2025</p>
                        <a href="" class="view-more-btn">View All</a>
                    </div>
                </div>
                <div>
                    <div class="img-inner-zoom-effect">
                        <img src="/images/png/blog-insights.png" alt="blog-insights" width="550" height="300" class="img-fluid">
                    </div>
                    <div>
                        <p class="fs-4">Top 5 DeFi Projects to Watch in 2025</p>
                        <a href="" class="view-more-btn">View All</a>
                    </div>
                </div>
                <div>
                    <div class="img-inner-zoom-effect">
                        <img src="/images/png/blog-insights.png" alt="blog-insights" width="550" height="300" class="img-fluid">
                    </div>
                    <div>
                        <p class="fs-4">Top 5 DeFi Projects to Watch in 2025</p>
                        <a href="" class="view-more-btn">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>