<div class="quick-lead-container">
    <div class="quick-lead-bg">
        <form class="contact-form quick-lead-form" data-formtype="quick-lead">
            <!-- Phone Field -->
            <div class="ql-step active" data-step="1">
                <div class="flex-y">
                    <input id="quickPhonecontact" name="phoneNumber" class="iti-input ql-input-feild" type="tel"
                        placeholder="Phone Number" />
                </div>
                    <!-- optional hidden fields (not required, we'll append in JS) -->
                    <input type="hidden" name="countryCode" />
            </div>

            <!-- Purpose Field -->
            <div class="ql-step" data-step="2">
                <input type="text" id="quickPurpose" name="purpose" class="ql-input-feild"
                    placeholder="What you're looking for">
            </div>

            <!-- Hidden Page Source (Optional but Recommended) -->
            <input type="hidden" name="pageSource" value="<%= currentSection || '' %>">

            <!-- Submit Button -->
            <button class="quick-lead-btn" id="qlBtn">Next</button>
        </form>
        <div class="success-message" id="qlSuccess">
            We will call you shortly.
        </div>
    </div>
</div>