<section>
    <div class="py-5">
        <div class="text-center pb-3">
            <h2 class="head-txt-h2 mb-3">Our Core <span class="theme-grad-text">Tech Stack</span></h2>
            <p class="para-txt-head">We leverage modern technologies and trusted frameworks to build fast, secure, and scalable digital solutions.</p>
        </div>
        <div class="row justify-content-center g-2">
            <div class="col-4 col-md-2 col-xl-2">
                <div class="techStack-head">
                    <p class="mb-0 text-black">Frontend</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">React Js</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Next Js</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-2">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Angular Js</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-2">
                <div class="techStack-head">
                    <p class="mb-0 text-black">Backend</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Python</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Node js</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Java</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Golang</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-2">
                <div class="techStack-head">
                    <p class="mb-0 text-black">Database</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">My SQL</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">SQLite</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-2">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Mongo DB</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-2">
                <div class="techStack-body">
                    <p class="mb-0 text-white">PostgreSQL</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-head">
                    <p class="mb-0 text-black">Server</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Nginx</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Apache</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-2">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Cloudflare</p>
                </div>
            </div>
            <div class="col-4 col-md-3 col-xl-2">
                <div class="techStack-head">
                    <p class="mb-0 text-black">DevOps</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">AWS</p>
                </div>
            </div>
            <div class="col-4 col-md-2 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Docker</p>
                </div>
            </div>
            <div class="col-6 col-md-2 col-xl-2">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Kubernetes</p>
                </div>
            </div>
            <div class="col-6 col-md-3 col-xl-1">
                <div class="techStack-body">
                    <p class="mb-0 text-white">Jenkins</p>
                </div>
            </div>
        </div>
    </div>
</section>