<section>
    <div class="py-5">
        <div class="text-center">
            <h2>Our Core Tech Stack</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="pt-4">
            <div class="d-flex flex-nowrap justify-content-start justify-content-lg-center gap-2 py-4 overflow-auto scrollbar-hide" id="techTab" role="tablist">
                <div class="presentation">
                    <p class="tech-tab active" data-bs-toggle="tab" data-bs-target="#frontend"
                        type="button">Frontend</p>
                </div>
                <div class="presentation">
                    <p class="tech-tab" data-bs-toggle="tab" data-bs-target="#backend"
                        type="button">Backend</p>
                </div>
                <div class="presentation">
                    <p class="tech-tab" data-bs-toggle="tab" data-bs-target="#database"
                        type="button">Database</p>
                </div>
                <div class="presentation">
                    <p class="tech-tab" data-bs-toggle="tab" data-bs-target="#server" type="button">Server</p>
                </div>
                <div class="presentation">
                    <p class="tech-tab" data-bs-toggle="tab" data-bs-target="#devops" type="button">DevOps</p>
                </div>
                <div class="presentation">
                    <p class="tech-tab" data-bs-toggle="tab" data-bs-target="#mobile" type="button">Mobile</p>
                </div>
                <div class="presentation">
                    <p class="tech-tab" data-bs-toggle="tab" data-bs-target="#cms" type="button">CMS</p>
                </div>
                <div class="presentation">
                    <p class="tech-tab" data-bs-toggle="tab" data-bs-target="#blockchain"
                        type="button">BlockChain</p>
                </div>
            </div>

            <div class="tab-content" id="techTabContent">
                <div class="tab-pane fade show active" id="frontend">
                    <div class="d-flex flex-wrap justify-content-center gap-2">
                        <div class="techstack-container frontend">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>HTML & CSS</p>
                        </div>
                        <div class="techstack-container frontend">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>React Js</p>
                        </div>
                        <div class="techstack-container frontend">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Angular Js</p>
                        </div>
                        <div class="techstack-container frontend">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Vue Js</p>
                        </div>
                        <div class="techstack-container frontend">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Next Js</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="backend">
                    <div class="d-flex flex-wrap justify-content-center gap-2">
                        <div class="techstack-container backend">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Java</p>
                        </div>
                        <div class="techstack-container backend">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Python</p>
                        </div>
                        <div class="techstack-container backend">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Node Js</p>
                        </div>
                        <div class="techstack-container backend">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>PHP</p>
                        </div>
                        <div class="techstack-container backend">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>C/C++</p>
                        </div>
                        <div class="techstack-container backend">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Rails</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="database">
                    <div class="d-flex flex-wrap justify-content-center gap-2">
                        <div class="techstack-container database">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>SQL</p>
                        </div>
                        <div class="techstack-container database">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Mongo DB</p>
                        </div>
                        <div class="techstack-container database">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Kafka</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="server">
                    <div class="d-flex flex-wrap justify-content-center gap-2">
                        <div class="techstack-container server">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Nignx</p>
                        </div>
                        <div class="techstack-container server">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Apache</p>
                        </div>
                        <div class="techstack-container server">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Heroku</p>
                        </div>
                        <div class="techstack-container server">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>CloudFlare</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="devops">
                    <div class="d-flex flex-wrap justify-content-center gap-2">
                        <div class="techstack-container devops">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>AWS</p>
                        </div>
                        <div class="techstack-container devops">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>TensorFlow</p>
                        </div>
                        <div class="techstack-container devops">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Docker</p>
                        </div>
                        <div class="techstack-container devops">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Kubernates</p>
                        </div>
                        <div class="techstack-container devops">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Jenkins</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="mobile">
                    <div class="d-flex flex-wrap justify-content-center gap-2">
                        <div class="techstack-container mobile">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Kotlin</p>
                        </div>
                        <div class="techstack-container mobile">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Trade Gaint</p>
                        </div>
                        <div class="techstack-container mobile">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>React Native</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="cms">
                    <div class="d-flex flex-wrap justify-content-center gap-2">
                        <div class="techstack-container cms">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Wordpress</p>
                        </div>
                        <div class="techstack-container cms">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Magento</p>
                        </div>
                        <div class="techstack-container cms">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Shopify</p>
                        </div>
                        <div class="techstack-container cms">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Durpal</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="blockchain">
                    <div class="d-flex flex-wrap justify-content-center gap-2">
                        <div class="techstack-container blockchain">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Hyperledger</p>
                        </div>
                        <div class="techstack-container blockchain">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Go</p>
                        </div>
                        <div class="techstack-container blockchain">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Rust</p>
                        </div>
                        <div class="techstack-container blockchain">
                            <img src="/images/png/icon-dummy.png" alt="tech-icons" width="45" height="45"
                                class="img-fluid">
                            <p>Solidity</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>