<section>
    <div class="py-5">
        <div class="text-center pb-4">
            <h2 class="head-txt-h2 mb-3">Result that <span class="theme-grad-text">speaks volume</span></h2>
            <p class="para-txt-head">Here's what our clients say about working with our team.</p>
        </div>
        <div class="row justify-content-center g-4 g-xl-2 pt-4">
            <div class="col-xl-6">
                <div class="d-flex flex-column justify-content-between gap-4 p-4 h-100 rounded-3 client-bg1">
                    <div class="d-flex flex-column gap-3">
                        <div class="client-txt-head">
                            <span class="fs-1 fw-bold">8X</span>
                            <p class="fs-5">Increase in conversion rate</p>
                        </div>
                        <div class="client-txt-body">
                            <div class="mb-3 quote-icon">
                                <svg width="34" height="34">
                                    <use href="/images/svg/common.svg#quote-icon"></use>
                                </svg>
                            </div>
                            <p>Their team transformed our vision into a powerful blockchain platform. Communication was excellent, delivery was on time, and the final product exceeded our expectations.</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-end">
                        <div class="d-flex align-items-center gap-2">
                            <div class="profile-icon">
                                <svg width="44" height="44">
                                    <use href="/images/svg/common.svg#profile-icon"></use>
                                </svg>
                            </div>
                            <span class="profile-txt flex-y gap-2">
                                <p class="mb-0">Michael Anderson</p>
                                <p class="mb-0">CEO, FinTech Solutions</p>
                            </span>
                        </div>
                        <div class="company-icon">
                            <svg width="24" height="24">
                                <use href="/images/svg/common.svg#google-icon"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="d-flex flex-column gap-3 p-3 client-bg2">
                    <p class="fs-5 client-head-txt-2"><span class="fs-2 fw-bold">2X</span> Increase lead generation</p>
                    <div class="client-body-txt-2">
                        <div class="mb-3 quote-icon-v2">
                            <svg width="34" height="34">
                                <use href="/images/svg/common.svg#quote-icon"></use>
                            </svg>
                        </div>
                        <p>The AI solution they developed significantly improved our customer support efficiency. Their technical expertise and attention to detail were outstanding."
                        </p>
                    </div>
                    <div class="d-flex justify-content-between align-items-end">
                        <div class="d-flex align-items-center gap-2">
                            <div class="profile-icon-v2">
                                <svg width="44" height="44">
                                    <use href="/images/svg/common.svg#profile-icon"></use>
                                </svg>
                            </div>
                            <span class="profile-txt-v2 flex-y gap-1">
                                <p class="mb-0">Sarah Williams</p>
                                <p class="mb-0">Operations Manager</p>
                            </span>
                        </div>
                        <div class="company-icon-v2">
                            <svg width="24" height="24">
                                <use href="/images/svg/common.svg#google-icon"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between g-3 mt-2">
                    <div class="col-md-6">
                        <div class="d-flex flex-column gap-3 p-3 client-border-orange">
                            <div>
                                <div class="mb-3 quote-icon">
                                    <svg width="34" height="34">
                                        <use href="/images/svg/common.svg#quote-icon"></use>
                                    </svg>
                                </div>
                                <p class="text-black">From design to deployment, the entire process was smooth and professional. We highly recommend their services.</p>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="profile-icon">
                                    <svg width="44" height="44">
                                        <use href="/images/svg/common.svg#profile-icon"></use>
                                    </svg>
                                </div>
                                <span class="flex-y gap-1">
                                    <p class="mb-0 orange-clr">Daniel Roberts</p>
                                    <p class="mb-0">Founder, Digital Ventures</p>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column gap-3 justify-content-between p-3 client-border-blue h-100">
                            <div>
                                <div class="mb-3 quote-icon-v2">
                                    <svg width="34" height="34">
                                        <use href="/images/svg/common.svg#quote-icon"></use>
                                    </svg>
                                </div>
                                <p class="text-black">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    has been</p>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <div class="profile-icon-v2">
                                    <svg width="44" height="44">
                                        <use href="/images/svg/common.svg#profile-icon"></use>
                                    </svg>
                                </div>
                                <span class="flex-y gap-1">
                                    <p class="mb-0 blue-clr">David Challan</p>
                                    <p class="mb-0">Marketing Speclist</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>