<section>
    <div class="py-5">
        <div class="text-center">
            <h2>Trusted Clients</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="clients-slider-container">
            <div class="clients-slider">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
            </div>
        </div>
    </div>
</section>