<section>
    <div class="py-5">
        <div class="text-center">
            <h2 class="head-txt-h2 mb-3">Trusted <span class="theme-grad-text">Clients</span></h2>
            <p class="para-text-head">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="clients-slider-container">
            <div class="clients-slider">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
                <img src="/images/dummy-logo.webp" alt="Clients" width="150" height="66" class="img-fluid">
            </div>
        </div>
    </div>
</section>