<section>
    <div class="py-5">
        <div class="row justify-content-around align-items-md-starts g-3">
            <div class="col-md-12 col-xl-3">
                <div>
                    <h2 class="head-txt-h1">Who We <span class="theme-grad-text">Are</span></h2>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div>
                    <p class="para-txt text-justify">We are a leading Blockchain and AI Development Company helping startups, enterprises, and
                        organizations transform ideas into powerful digital products. Our focus is on building secure,
                        transparent, and scalable solutions that align with real business goals.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div>
                    <p class="text-justify para-txt">With strong expertise in crypto exchanges, DeFi platforms, NFT marketplaces, crypto wallets, token
                    development, and AI-powered applications, we deliver end-to-end development services using modern
                    frameworks and proven architectures.</p>
                </div>
            </div>
        </div>
    </div>
</section>