<section>
    <div class="py-4">
        <picture class="position-relative">
            <source media="(max-width:767px)" srcset="/images/png/Dummy-banner-sm.png">
            <source media="(max-width:1339px)" srcset="/images/png/Dummy-banner-md.png">
            <img src="/images/png/Dummy-banner.png" alt="Dummy" width="1500" height="600"
                class="img-fluid rounded-2 object-fit-cover">
            <div class="col-lg-8 col-xl-6 mx-auto about-banner">
                <h1>About Our Blockchain & AI Company</h1>
                <p>We are a technology-driven company delivering secure, scalable, and future-ready blockchain and AI
                    solutions for global businesses.</p>
                <button class="btn btn-primary">Talk to Our Experts</button>
            </div>
        </picture>
    </div>
</section>