<section>
    <div class="py-5">
        <div class="cta-container">
            <div class="col-xl-8 mx-auto text-center flex-y justify-content-center align-items-center gap-4">
                <h3>Let’s Build the Future Together</h3>
                <p class="mb-0 text-white lh-lg">Whether you’re launching a startup or scaling an enterprise platform, our team is ready to turn your vision into a secure and successful digital solution.</p>
                <div class="button-wrapper">
                    <div class="button-glow-blue"></div>
                    <a href="/contact-us" class="theme-btn-white">Contact Us Today
                        <svg class="arrow-black" viewBox="0 0 10 10" width="10" height="10" fill="none">
                            <path class="line" d="M0 5h7"></path>
                            <path class="arrow-head" d="M1 1l4 4-4 4"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="cta-left-circle"></div>
            <div class="cta-right-circle"></div>
        </div>
    </div>
</section>