<section>
    <div class="py-5">
        <div class="row justify-content-center g-2">
            <div class="col-md-8 order-2 order-md-1">
                <div class="card-misvis">
                    <h2>Our Mission</h2>
                    <p>Our mission is to empower businesses with <strong>secure, innovative, and scalable blockchain and
                            AI
                            solutions</strong> that unlock new revenue streams, enhance operational efficiency, and
                        accelerate
                        digital transformation.</p>
                </div>
            </div>
            <div class="col-md-4 order-1 order-md-2">
                <div class="border">
                    <img src="/images/png/latest-product.png" alt="our-mission-image" width="450" height="250"
                        class="img-fluid rounded-2" loading="lazy">
                </div>
            </div>
            <div class="col-md-4 order-3">
                <div>
                    <img src="/images/png/latest-product.png" alt="our-mission-image" width="450" height="250"
                        class="img-fluid rounded-2" loading="lazy">
                </div>
            </div>
            <div class="col-md-8 order-4">
                <div class="card-misvis">
                    <h2>Our Vision</h2>
                    <p>We aim to become a globally trusted technology partner by driving innovation in <strong>Web3,
                        decentralized finance, and artificial intelligence,</strong> shaping a more transparent and intelligent
                        digital future.</p>
                </div>
            </div>
        </div>
    </div>
</section>