<section>
    <div class="py-5">
        <div class="col-xl-7 mx-auto text-center flex-y gap-3">
            <h2 class="head-txt-h2">What We <span class="theme-grad-text">Do</span></h2>
            <p class="para-txt-head">We provide comprehensive development services designed to help businesses succeed in the Web3 and AI
                ecosystem.</p>
        </div>
        <div class="row justify-content-center g-3 pt-4">
            <div class="col-12 col-md-6 col-xl-5">
                <div class="bullet-points">
                    <p class="para-txt mb-0 text-white">Crypto Exchange (CEX & DEX)</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points">
                    <p class="para-txt mb-0 text-white">DeFi Application</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="bullet-points">
                    <p class="para-txt mb-0 text-white">NFT Marketplace</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <div class="bullet-points">
                    <p class="para-txt mb-0 text-white">Crypto Wallet</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points">
                    <p class="para-txt mb-0 text-white">Token & Smart Contract</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-5">
                <div class="bullet-points">
                    <p class="para-txt mb-0 text-white">AI & Automation Solutions</p>
                </div>
            </div>
        </div>
    </div>
</section>