<section>
    <div class="py-5">
        <div class="text-center">
            <h2>What We Do</h2>
            <p>We provide comprehensive development services designed to help businesses succeed in the Web3 and AI
                ecosystem.</p>
        </div>
        <div class="row justify-content-center g-3 pt-4">
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points1">
                    <img src="/images/png/circleTick.png" alt="circle-Tick-icon" width="24" height="24" class="img-fluid" loading="lazy">
                    <p>Crypto Exchange Development (CEX & DEX)</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points1">
                    <img src="/images/png/circleTick.png" alt="circle-Tick-icon" width="24" height="24" class="img-fluid" loading="lazy">
                    <p>DeFi Application Development</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points1">
                    <img src="/images/png/circleTick.png" alt="circle-Tick-icon" width="24" height="24" class="img-fluid" loading="lazy">
                    <p>NFT Marketplace Development</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points1">
                    <img src="/images/png/circleTick.png" alt="circle-Tick-icon" width="24" height="24" class="img-fluid" loading="lazy">
                    <p>Crypto Wallet Development</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points1">
                    <img src="/images/png/circleTick.png" alt="circle-Tick-icon" width="24" height="24" class="img-fluid" loading="lazy">
                    <p>Token & Smart Contract Development</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points1">
                    <img src="/images/png/circleTick.png" alt="circle-Tick-icon" width="24" height="24" class="img-fluid" loading="lazy">
                    <p>AI & Automation Solutions</p>
                </div>
            </div>
        </div>
    </div>
</section>