<section>
    <div class="py-5">
        <div class="text-center">
            <h2>Why Choose us</h2>
            <p class="col-10 mx-auto">Build your future on a foundation of trust. We provide secure, specialized development to help you
                navigate and master the complexities of the Web3 and AI landscapes.</p>
        </div>
        <div class="row justify-content-center g-2 pt-4">
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points2">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <p>Security-first development with audited smart contracts</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points2">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <p>Custom and white-label solutions tailored to your business</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points2">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <p>Experienced blockchain and AI engineers</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points2">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <p>Scalable, future-ready architecture</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points2">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <p>End-to-end support from ideation to launch</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="bullet-points2">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <a href="/services" class="text-decoration-none">See Our Services</a>
                </div>
            </div>
        </div>
    </div>
</section>