<section>
    <div class="py-5">
        <div class="col-xl-8 mx-auto text-center flex-y gap-3">
            <h2 class="head-txt-h2">Why Choose <span class="theme-grad-text">Us</span></h2>
            <p class="para-txt-head">Build your future on a foundation of trust. We provide secure, specialized development to help you
                navigate and master the complexities of the Web3 and AI landscapes.</p>
        </div>
        <div class="row justify-content-center g-2 pt-4 why-chooseCardContainer">
            <div class="col-12 col-md-6 col-xl-4">
                <div class="why-chooseCard">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <h3 class="card-txt-h">Security-First Development</h3>
                    <p class="para-txt">Audited smart contracts with security best practices and compliance standards.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="why-chooseCard">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <h3 class="card-txt-h">Custom & White-Label Solutions</h3>
                    <p class="para-txt">Tailored solutions designed specifically for your business needs and requirements.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="why-chooseCard">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <h3 class="card-txt-h">Blockchain & AI Engineers</h3>
                    <p class="para-txt">Expert team with deep expertise in blockchain, and AI technologies</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="why-chooseCard">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <h3 class="card-txt-h">Future-Ready Architecture</h3>
                    <p class="para-txt">Built to grow with your business, supporting millions of transactions seamlessly.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="why-chooseCard">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <h3 class="card-txt-h">End-to-End Support</h3>
                    <p class="para-txt">Comprehensive support from ideation to launch and beyond.</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4">
                <div class="why-chooseCard">
                    <img src="/images/png/icon-dummy.png" alt="circle-Tick-icon" width="44" height="44" class="img-fluid" loading="lazy">
                    <h3 class="card-txt-h">Innovation-Driven</h3>
                    <p class="para-txt">Continuously exploring emerging technologies and industry best practices.</p>
                </div>
            </div>
        </div>
    </div>
</section>