<section>
    <div class="py-5">
        <div class="col-xl-10 text-center mx-auto">
            <p class="my-3 large-text lh-base">
                Crypto Exchange Development – Market is Booming <span class="blue-clr">in 2025</span>
                With global adoption on the rise, crypto exchanges are at the heart of the digital economy. Discover how
                secure, scalable, and high-performance exchanges are shaping the future of trading.
            </p>
            <button class="common-blue-btn">Learn More</button>
        </div>
    </div>
</section>