<section>
    <div class="py-5">
        <div class="col-lg-8 col-xxl-6 mx-auto text-center">
            <small class="hp-higlig d-inline-flex mb-3">Benefits</small>
            <h2 class="display-6">Why Our Development Approach Delivers Results</h2>
            <p class="fs-5 fw-medium">We combine innovation, scalability, and security to deliver solutions that create real business impact.</p>
        </div>
        <div class="mt-5">
            <div class="row justify-content-center g-3">
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Increased Productivity</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Better Customer Experience</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">24/7 Availability</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Cost Reduction</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Data-Driven Insights</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="benefit-card">
                        <img src="/images/png/icon-dummy.png" alt="Icon" width="28" height="28" loading="lazy" class="img-fluid">
                        <strong class="fs-4 fw-medium">Scalability & Growth</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>