<section>
    <div class="py-5">
        <div class="text-center">
            <h2 class="display-6">Trending <span class="blue-clr">Categories</span></h2>
        </div>
        <div class="row gx-4 gy-4 my-2">
            <div class="col-md-6">
                <div class="category-box">
                    <div class="flex-x">
                        <div class="img-bg">
                            <img src="/images/hubPage-zigzagarrow.webp" alt="arrow" height="24" width="24"
                                class="img-fluid">
                        </div>
                        <strong class="card-txt-h">White-Label Crypto Exchange</strong>
                    </div>
                    <div class="flex-y align-items-start">
                        <p class="card-txt-p">Launch your own secure, scalable crypto exchange platform packed with advanced trading, liquidity, and revenue-boosting features.</p>
                        <button class="common-blue-btn">Explore Exchange</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box">
                    <div class="flex-x">
                        <div class="img-bg">
                            <img src="/images/hubPage-sheild.webp" alt="arrow" height="24" width="24" class="img-fluid">
                        </div>
                        <strong class="card-txt-h">Web3 Wallet Solution</strong>
                    </div>
                    <div class="flex-y align-items-start">
                        <p class="card-txt-p">Multi-chain wallet with military-grade security, NFT compatibility, staking support, and a smooth seamless user experience.</p>
                        <button class="common-blue-btn">View Wallet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>