<section>
    <div class="py-5">
        <div class="cta text-center">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
                <h3 class="fs-2">Looking to Build Your Next Trending Solution?</h3>
                <p class="text-normal">Partner with us to transform your ideas into impactful blockchain and AI products.</p>
                <button class="cta-button">Talk to Our Experts</button>
            </div>
        </div>
    </div>
</section>