<section>
    <div class="py-5">
        <div class="col-xl-8 mx-auto text-center">
            <small class="hp-higlig d-inline-flex mb-3">In Development</small>
            <h2 class="display-6">Products We Are Currently Building</h2>
            <p class="fs-5 fw-medium">We are actively developing innovative blockchain, Web3, and AI-powered products
                designed to solve real-world challenges.</p>
        </div>
        <div class="col-xl-9 mx-auto mt-5 flex-y gap-5">
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-5 col-xl-4">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
                <div class="col-md-7 col-xl-8">
                    <div class="product-card">
                        <small class="pc-higlig">Exchange</small>
                        <div>
                            <a href="/services/crypto-exchange-development" class="product-link">Crypto Exchange
                                Development</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Security Protocols</small>
                            <small class="pc-higlig">Multi-Currency</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-7 col-xl-8 order-2 order-md-1">
                    <div class="product-card">
                        <small class="pc-higlig">Artifical intelligence</small>
                        <div>
                            <a href="/services/ai-chatbot-development" class="product-link">AI ChatBot Development</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Summaries</small>
                            <small class="pc-higlig">Scheduling</small>
                            <small class="pc-higlig">Many more</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xl-4 order-1 order-md-2">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-5 col-xl-4">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
                <div class="col-md-7 col-xl-8">
                    <div class="product-card">
                        <small class="pc-higlig">Wallet</small>
                        <div>
                            <a href="/services/crypto-wallet-development" class="product-link">Crypto Wallet Development</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Secure Connection</small>
                            <small class="pc-higlig">50+ Wallets Deployed</small>
                            <small class="pc-higlig">99.9% Uptime</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center gy-3 gy-md-5 gx-3 gx-xl-5">
                <div class="col-md-7 col-xl-8 order-2 order-md-1">
                    <div class="product-card">
                        <small class="pc-higlig">Defi</small>
                        <div>
                            <a href="/services/defi-development-service" class="product-link">Defi Development </a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                        <div class="flex-x gap-1">
                            <small class="pc-higlig">Strategy</small>
                            <small class="pc-higlig">Custom AI</small>
                            <small class="pc-higlig">Consulting</small>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-xl-4 order-1 order-md-2">
                    <picture class="product-card-image">
                        <source media="(max-width:767px)" srcset="/images/png/service-banner.png">
                        <source media="(max-width:1339px)" srcset="/images/png/product-rs-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="380" height="350"
                            class="img-fluid rounded-2 object-fit-cover">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>