<section>
    <div class="py-5">
        <div class="row gx-3 gy-4">
            <div class="col-md-6 align-self-center">
                <div class="flex-y align-items-start">
                    <h2 class="display-6">Why <span class="blue-clr">Choose Us</span></h2>
                    <p class="text-normal lh-base my-1">We combine deep expertise in blockchain and AI to build secure,
                        scalable, and future-ready
                        solutions.
                        Our team focuses on innovation, rigorous quality, and client success, ensuring your project not
                        only
                        meets today’s needs but also adapts to tomorrow’s trends.</p>
                    <button class="common-blue-btn">Contact Us</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wcu-highlight wcu-bg1">
                    <div class="img-bgclr">
                        <img src="/images/hubPage-rocket.webp" alt="arrow" height="24" width="24" class="img-fluid">
                    </div>
                    <div>
                        <strong class="card-txt-h">Innovation</strong>
                        <p class="card-txt-p mt-2">Cutting-edge solutions for tomorrow’s challenges.</p>
                    </div>
                </div>
                <div class="wcu-highlight wcu-bg2">
                    <div class="img-bgclr">
                        <img src="/images/hubPage-lock.webp" alt="arrow" height="24" width="24" class="img-fluid">
                    </div>
                    <div>
                        <strong class="card-txt-h">Security</strong>
                        <p class="card-txt-p mt-2">Enterprise-grade protection and compliance.</p>
                    </div>
                </div>
                <div class="wcu-highlight wcu-bg3">
                    <div class="img-bgclr">
                        <img src="/images/hubPage-chart.webp" alt="arrow" height="24" width="24" class="img-fluid">
                    </div>
                    <div>
                        <strong class="card-txt-h">Scalability</strong>
                        <p class="card-txt-p mt-2">Grow seamlessly with future-proof architectures.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>