.side-btn button {
    background-color: transparent;
    border: none;
}

.side-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.carousel-wrapper {
    /* width: 100%;
    max-width: 1200px; */
    margin: 0 auto;
}

.carousel-view {
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform .4s ease-in-out;
}

.latest-blog-card {
    flex: 0 0 48.888%;
    /* show 2 items */
    padding: 1rem 0;
    margin: 0 .5rem;
}

.blog-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .75rem;
}

.blog-card small {
    font-size: .95rem;
    font-weight: 500;
}

.blog-card p {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blog-redirect {
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--black-clr);
    transition: .3s ease-in-out;
}

.blog-card:hover .blog-redirect {
    color: var(--blue-clr);
}

.blog-redirect-btn {
    background-color: var(--black-clr);
    color: var(--white-clr);
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: .5rem;
}

@media only screen and (max-width: 576px) {

    .latest-blog-card {
        flex: 0 0 95.555%;
    }

}


@media only screen and (min-width: 577px) and (max-width:767px) {

    .latest-blog-card {
        flex: 0 0 95.555%;
    }
}