.blog-detail-category-highlighter {
    position: relative;
    display: inline-block;
    padding: .75rem 1.25rem;
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: .6rem;
}

.blog-detail-category-highlighter::before,
.blog-detail-category-highlighter::after {
    content: '';
    position: absolute;
    width: 15%;
    height: 40%;
    border-radius: .2rem;
}

.blog-detail-category-highlighter::before {
    top: 0;
    left: 0;
    border-top: 2px solid var(--blue-clr);
    border-left: 2px solid var(--blue-clr);
}

.blog-detail-category-highlighter::after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--blue-clr);
    border-right: 2px solid var(--blue-clr);
}

.blog-share-btn, .blog-copy-btn {
    border-radius: .5rem;
    padding: .40rem 1.05rem;
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid transparent;
    background-color: transparent;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.blog-content {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.blog-content h3 {
    scroll-margin-top: 380px;
}

.blog-content img {
    max-width: 100%;
    height: auto;
    border-radius: .4rem;
}

.blog-content p {
    font-size: 1.07rem !important;
    line-height: 1.75rem;
    text-align: justify;
    margin-bottom: .5rem !important;
}

.blog-content li p {
    text-align: left;
}

.blog-toc-container {
    position: sticky;
    top: calc(var(--padding-top, 80px));
    left: 0;
    background-color: var(--white-clr);
    opacity: 0;
    transform: translateY(-10%);
    transition: .3s ease-in-out;
}

.blog-toc-container.toc-visible {
    opacity: 1;
    transform: translateY(0%);
}

.blog-toc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem .5rem;
    border-radius: .2rem;
}

.toc-arrow {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.toc-arrow.rotate-up {
    transform: rotate(-90deg);
}

.toc-arrow.rotate-down {
    transform: rotate(90deg);
}

.toc-links li {
    list-style: none;
    margin-bottom: .5rem;
}

.toc-links li a {
    text-decoration: none;
    color: var(--grey-clr2);
    transition: .2s ease-in-out;
}

.toc-links li a:hover {
    color: var(--black-clr);
}