<section>
    <div class="career-banner">
        <div class="career-container">
            <small class="cb-higlig">We're Hiring</small>
            <h1 class="display-2 fw-semibold lh-sm mb-0">Build the future with us</h1>
            <p class="fs-5 fw-medium">Join our team of passionate individuals creating meaningful products that make a difference.</p>
            <div>
                <a href="#openPosition" class="common-btn-primary d-inline-block">View Open Position</a>
                <a href="/company" class="common-btn-secondary d-inline-block">Learn About us</a>
            </div>
        </div>
    </div>
</section>