<section>
    <div class="py-5 opc-scrollmargin" id="openPosition">
        <div class="text-center">
            <h2>Open positions</h2>
            <p>Find your next opportunity and join our growing team.</p>
        </div>
        <div class="row justify-content-center g-4 mt-4">
            <div class="col-md-6 col-xl-3">
                <div class="open-position-card">
                    <div class="flex-y gap-1">
                        <strong class="opc-head">Senior Developer</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                    </div>
                    <div class="flex-x justify-content-between gap-3">
                        <div class="flex-x gap-1">
                            <p class="opc-hl">5+ years</p>
                            <p class="opc-hl">Full Time</p>
                            <p class="opc-hl">Remote</p>
                        </div>
                        <div class="opc-arrow">
                            <a href="#career-application">
                                <img src="/images/png/right-arrow.png" alt="Right arrow icon" width="24" height="24" class="img-fluid" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="open-position-card">
                    <div class="flex-y gap-1">
                        <strong class="opc-head">Senior Developer</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                    </div>
                    <div class="flex-x justify-content-between gap-3">
                        <div class="flex-x gap-1">
                            <p class="opc-hl">5+ years</p>
                            <p class="opc-hl">Full Time</p>
                            <p class="opc-hl">Remote</p>
                        </div>
                        <div class="opc-arrow">
                            <a href="#career-application">
                                <img src="/images/png/right-arrow.png" alt="Right arrow icon" width="24" height="24" class="img-fluid" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="open-position-card">
                    <div class="flex-y gap-1">
                        <strong class="opc-head">Senior Developer</strong>
                        <p>Lorem Ipsum is simply dummy text of the printings</p>
                    </div>
                    <div class="flex-x justify-content-between gap-3">
                        <div class="flex-x gap-1">
                            <p class="opc-hl">5+ years</p>
                            <p class="opc-hl">Full Time</p>
                            <p class="opc-hl">Remote</p>
                        </div>
                        <div class="opc-arrow">
                            <a href="#career-application">
                                <img src="/images/png/right-arrow.png" alt="Right arrow icon" width="24" height="24" class="img-fluid" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="open-position-card">
                    <div class="flex-y gap-1">
                        <strong class="opc-head">Senior Developer</strong>
                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                    </div>
                    <div class="flex-x justify-content-between gap-3">
                        <div class="flex-x gap-1">
                            <p class="opc-hl">5+ years</p>
                            <p class="opc-hl">Full Time</p>
                            <p class="opc-hl">Remote</p>
                        </div>
                        <div class="opc-arrow">
                            <a href="#career-application">
                                <img src="/images/png/right-arrow.png" alt="Right arrow icon" width="24" height="24" class="img-fluid" loading="lazy">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>