<section>
    <div class="py-5">
        <div class="text-center">
            <h2>Why work with us</h2>
            <p>We believe in creating an environment where talent thrives and ideas flourish.</p>
        </div>
        <div class="row justify-content-center g-2 mt-4">
            <div class="col-md-7 col-xl-8">
                <div class="workWith-card">
                    <img src="/images/png/icon-dummy.png" alt="Icon" width="34" height="34" class="img-fluid">
                    <h3>Fast-Paced Environment</h3>
                    <p>Work on challenging problems with quick iteration cycles and real impact.</p>
                </div>
            </div>
            <div class="col-md-5 col-xl-4">
                <div class="workWith-card">
                    <img src="/images/png/icon-dummy.png" alt="Icon" width="34" height="34" class="img-fluid">
                    <h3>Health & Wellness</h3>
                    <p>Comprehensive health coverage and wellness programs for you and your family.</p>
                </div>
            </div>
            <div class="col-md-5 col-xl-4">
                <div class="workWith-card">
                    <img src="/images/png/icon-dummy.png" alt="Icon" width="34" height="34" class="img-fluid">
                    <h3>Growth Opportunities</h3>
                    <p>Clear career paths with mentorship and continuous learning support.</p>
                </div>
            </div>
            <div class="col-md-7 col-xl-8">
                <div class="workWith-card">
                    <img src="/images/png/icon-dummy.png" alt="Icon" width="34" height="34" class="img-fluid">
                    <h3>Inclusive Culture</h3>
                    <p>A diverse team where every voice matters and collaboration thrives.</p>
                </div>
            </div>
        </div>
    </div>
</section>