<section>
    <div class="exchangePage-banner">
        <div class="text-center d-flex flex-column justify-content-center align-items-center h-100">
            <div class="col-xl-9 mx-auto">
                <div>
                    <p class="ep-tag"><span></span> Trading Platform</p>
                    <h1 class="display-2"><span class="blue-clr">Crypto</span> Exchange Development Company</h1>
                    <p class="card-txt-h">Build Secure, Scalable & Future-Ready Platforms</p>
                </div>
                <div>
                    <p class="text-normal lh-base">We specialize in building secure, scalable, and high-performance crypto exchange
                        platforms. From robust trading engines to advanced security, we help businesses launch exchanges
                        that lead the future of digital finance</p>
                    <button class="btn btn-primary">Talk to Our Experts Today</button>
                </div>
            </div>
        </div>
    </div>
</section>