.career-banner {
    height: calc(95vh - var(--padding-top));
    background-image:
        linear-gradient(to left, var(--grey-clr) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grey-clr) 1px, transparent 1px);
    background-size: 180px 180px;
}

.career-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.cb-higlig{
    border: 2px solid transparent;
    padding: .5rem 1rem;
    color: var(--black-clr);
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%) padding-box, var(--grad-clr-b) border-box;
    font-weight: 400;
    font-size: .85rem;
    border-radius: 2rem;
}

.workWith-card{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    height: 100%;
    padding: 1.4rem;
    border: 1px solid transparent;
    background: linear-gradient(0deg, #ffffff 0%, #ffffff 100%) padding-box, var(--grad-clr-b) border-box;
    height: 100%;
    transform: scale(1);
    transition: .3s ease-in;
}

.workWith-card:hover{
    transform: scale(1.010);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.opc-scrollmargin{
    scroll-margin-top: 80px;
}

.open-position-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem 1.5rem;
    border: 1px solid var(--grey-clr);
    background: var(--grad-clr-o-lig);
    border-radius: .75rem;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.opc-hl{
    border: 1px solid var(--black-clr);
    padding: .25rem .75rem;
    color: var(--white-clr);
    font-weight: 600;
    font-size: .75rem;
    border-radius: 2rem;
    background-color: var(--black-clr);
    white-space: nowrap;
}

.opc-arrow{
    padding: .25rem .5rem;
    border-radius: .5rem;
    transform: rotate(0deg);
    color: var(--black-clr);
    transition: .3s ease-in-out;
}

.opc-arrow svg{
    text-decoration: none;
    transform: translateY(-5%);
}

.open-position-card:hover .opc-arrow{
    color: var(--white-clr);
    background-color: var(--black-clr);
    transform: rotate(20deg);
}

.open-position-card:hover{
    transform: scale(1.005);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.hiring-step {
    display: flex;
    gap: 1rem;
    align-items: start;
    padding: .5rem 1rem;
    border-radius: .5rem;
}


.hs-number{
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 2rem;
    color: var(--white-clr);
    text-align: center;
}

.career-form-container{
    background-color: var(--white-clr);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1.5rem;
    border-radius: 1rem;
}

@media (width <=767px) {
    .career-banner {
        height: calc(75vh - var(--padding-top));
    }
}