.career-banner {
    height: calc(95vh - var(--padding-top));
}

.career-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.cb-higlig{
    border: 1px solid var(--black-clr);
    padding: .5rem 1rem;
    color: var(--black-clr);
    font-weight: 400;
    font-size: .85rem;
    border-radius: 2rem;
}

.workWith-card{
    display: flex;
    flex-direction: column;
    gap: .85rem;
    height: 100%;
    padding: 1.4rem;
    border-radius: 1rem;
    border: 2px solid var(--grey-clr);
}

.workWith-card h3{
    margin-bottom: 0;
}

.opc-scrollmargin{
    scroll-margin-top: 80px;
}

.open-position-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid var(--grey-clr);
    border-radius: .5rem;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.opc-head{
    font-size: 1.15rem;
    font-weight: 600;
}

.opc-hl{
    border: 1px solid var(--black-clr);
    padding: .25rem .75rem;
    color: var(--black-clr);
    font-weight: 600;
    font-size: .75rem;
    border-radius: 2rem;
    background-color: var(--grey-clr);
    white-space: nowrap;
}

.opc-arrow{
    padding: .25rem .5rem;
    border-radius: .5rem;
    transform: rotate(0deg);
    transition: .3s ease-in-out;
}

.opc-arrow img{
    transform: translateY(-5%);
}

.open-position-card:hover .opc-arrow{
    background-color: var(--grey-clr);
    transform: rotate(20deg);
}

.open-position-card:hover{
    transform: scale(1.005);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.hiring-step {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: var(--white-clr);
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.hs-number{
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 2rem;
    background-color: var(--ligblue-clr);
    color: var(--blue-clr);
    text-align: center;
}

.career-form-container{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1.5rem;
    border-radius: 1rem;
}