.portfolio-banner {
    height: calc(95vh - var(--padding-top));
    background-image:
        linear-gradient(to left, var(--grey-clr) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grey-clr) 1px, transparent 1px);
    background-size: 180px 180px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto
}

.portfolio-margin-top{
    scroll-margin-top: 70px;
}

.portfolio-listCard {
    border: 2px solid var(--grey-clr);
    background: var(--grad-clr-o-lig);
    border-radius: .5rem;
}

.portfolio-listCard.active {
    transition: .3s ease-in-out;
}

.pf-projhead {
    padding: 2rem 2rem;
}

.pf-projhead-num {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
}

.pf-projhead-num::before {
    content: '';
    width: 24px;
    height: 24px;
    background: var(--grad-clr-o);
    border-radius: 1rem;
}

.pf-projhead-ht {
    font-size: 1.75rem;
}

.pf-projbody {
    padding: 0rem 2rem 2rem 0rem;
}

.projcontent-width {
    width: 49%;
    margin-left: auto;
}

@media (max-width: 767px) {
    .pf-projhead-num {
        font-size: 1.5rem;
    }

    .pf-projhead-ht {
        font-size: 1.5rem;
    }

    .projcontent-width {
        width: 100%;
    }

    .pf-projhead {
        padding: 1.5rem 1.5rem;
    }

    .pf-projbody {
        padding: 0rem 1.5rem 1.5rem 1.5rem;
    }
}


@media (min-width: 768px) and (max-width: 1200px) {

    .pf-projhead-num,
    .pf-projhead-ht {
        font-size: 1.5rem;
    }

    .projcontent-width {
        width: 55%;
    }
}