.portfolio-banner {
    height: calc(95vh - var(--padding-top));
    background-image:
        linear-gradient(to left, var(--grey-clr) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grey-clr) 1px, transparent 1px);
    background-size: 180px 180px;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.porfolio-card {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    justify-content: space-between;
    padding: 1rem;
    border: 1px solid var(--grey-clr);
    border-radius: .5rem;
    transform: scale(1);
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
}

.porfolio-card:hover {
    transform: scale(1.003);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 4px;
}
