<section>
    <div class="py-5">
        <div class="cta text-center">
            <div class="d-flex flex-column justify-content-center align-items-center gap-3 h-100 col-xl-8 mx-auto">
                <h3 class="fs-2"><%= page.cta.title %></h3>
                <p class="text-normal mb-0"><%= page.cta.titledes %></p>
                <button class="cta-button"><%= page.cta.btntxt %></button>
            </div>
        </div>
    </div>
</section>