<section>
    <div class="py-5">
        <div class="row">
            <div class="col-12 col-lg-6 align-self-center">
                <div class="text-center text-lg-start">
                    <h2 class="fs-2">Building the Future of Digital <span class="blue-clr">Asset Trading</span></h2>
                    <p class="text-normal">We are a leading <strong>Crypto Exchange Development Company</strong> dedicated
                        to delivering secure, scalable,
                        and innovative trading platforms. With years of expertise in blockchain technology, AI-driven
                        trading systems, and fintech solutions, we empower businesses to launch high-performance crypto
                        exchanges that meet global standards.</p>
                    <p class="text-normal">Our team specializes in developing <strong>centralized, decentralized,
                        and hybrid exchanges</strong>, integrating
                        features like multi-currency wallets, liquidity management, advanced order matching engines, and
                        compliance-ready security frameworks.</p>
                    <p class="text-normal">Whether you are a startup, enterprise, or financial institution,
                        we provide custom solutions and <strong>white-label exchange software</strong> that accelerate time-to-market and
                        ensure long-term success.</p>
                    <p class="text-normal">Partner with us to <strong>transform your crypto business idea into a
                        powerful trading ecosystem</strong> trusted
                        by users worldwide.</p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-flex justify-content-center">
                    <picture>
                        <source media="(max-width:767px)" srcset="/images/png/exchange-about-us.png">
                        <source media="(max-width:992px)" srcset="/images/png/exchange-about-us-md.png">
                        <source media="(max-width:1200px)" srcset="/images/png/exchange-about-us-lg.png">
                        <img src="/images/png/exchange-about-us.png" alt="The Image" width="450" height="450"
                            class="img-fluid" loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>