<section>
    <div class="py-5">
        <div class="text-center pb-4">
            <h2>Why Businesses Trust Our <span class="blue-clr">Exchange Development</span></h2>
        </div>
        <div class="row justify-content-center g-3">
            <div class="col-md-6 col-xl-4">
                <div class="wcu-box-v1">
                    <img src="/images/png/icon-dummy.png" alt="Reslated Image" width="40" height="40" class="img-fluid">
                    <strong class="card-txt-h blue-clr">Unmatched Security Expertise</strong>
                    <p class="card-txt-p">Every build includes multi-layer protection, regulatory compliance, and
                        advanced fraud detection.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="wcu-box-v1">
                    <img src="/images/png/icon-dummy.png" alt="Reslated Image" width="40" height="40" class="img-fluid">
                    <strong class="card-txt-h blue-clr">End-to-End Customization</strong>
                    <p class="card-txt-p">Whether you need a white-label launch or a fully custom-built exchange, our solutions adapt to your growth.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="wcu-box-v1">
                    <img src="/images/png/icon-dummy.png" alt="Reslated Image" width="40" height="40" class="img-fluid">
                    <strong class="card-txt-h blue-clr">Proven Track Record</strong>
                    <p class="card-txt-p">With years of expertise in blockchain and AI-powered financial platforms, we’ve delivered successful projects worldwide.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="wcu-box-v1">
                    <img src="/images/png/icon-dummy.png" alt="Reslated Image" width="40" height="40" class="img-fluid">
                    <strong class="card-txt-h blue-clr">Continuous Innovation</strong>
                    <p class="card-txt-p">We integrate AI, DeFi modules, NFT trading, and staking features to keep your exchange ahead of the curve.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="wcu-box-v1">
                    <img src="/images/png/icon-dummy.png" alt="Reslated Image" width="40" height="40" class="img-fluid">
                    <strong class="card-txt-h blue-clr">Dedicated Support Team</strong>
                    <p class="card-txt-p">24/7 global support with post-deployment updates, monitoring, and maintenance</p>
                </div>
            </div>
        </div>
    </div>
</section>