:root {
    --padding-top: 4.5rem;
    --white-clr: #FFF;
    --black-clr: #000000;
    --grey-clr: #e9ecef;
    --grey-clr1: #232323;
    --grey-clr2: #555;
    --grey-clr3: #F2F2F2;
    --grey-clr4: #DBDBDB;
    --grey-clr5: #C4C4C4;
    --brand-clr: #8a4fff;
    --brand-clr-lig: #c3bef7;
    --blue-clr: #0d6efd;
    --ligblue-clr: #0d6dfd6d;
    --pink-clr: #F527E4;
    --ligpink-clr: #f527e476;
    --green-clr: #2EFF2E;
    --liggreen-clr: #2eff2e75;
    --blue-v1: #e3f2fd;
}


.dvh {
    height: 100dvh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    height: 100%;
    padding: 1rem;
    margin: 0 auto;
    background-color: aliceblue;
}

.form-feild {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.admin-link {
    position: relative;
    display: block;
    padding: 1rem 1rem;
    margin: .5rem 0;
    color: var(--white-clr);
    font-size: .85rem;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--black-clr);
    border-radius: .4rem;
    transition: 0.4s ease-in-out;
}

@media screen and (max-width: 767px){
    .admin-link {
        padding: 1rem .5rem;
        font-size: .75rem;
    }
}

.admin-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--white-clr);
    width: 0%;
    height: 2px;
    transition: 0.4s ease-in-out;
}

.admin-link.active::before,
.admin-link:hover::before {
    width: 100%;
}

.admin-link:hover,
.admin-link.active {
    background-color: var(--grey-clr1);
}

.table-head {
    background-color: var(--black-clr);
    color: var(--white-clr);
    border-radius: 1rem;
}

.table-head th {
    padding: 1rem;
}

.table-body {
    background-color: var(--white-clr);
    transition: 0.2s ease-in-out;
}

.table-body td {
    font-size: .95rem;
    font-weight: 400;
    padding: .5rem;
}

.table-body:hover {
    background-color: var(--grey-clr);
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    height: 100%;
    background-color: var(--grey-clr);
    border: 2px solid transparent;
    transition: .3s ease-in-out;
}

.dashboard-card:hover{
    transform: scale(1.005);
    border: 2px solid var(--blue-clr);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dashboard-number{
    background-color: var(--blue-clr);
    color: var(--white-clr);
    padding: .4rem .6rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 100%;
    margin-bottom: 0;
}

.dashboard-chart{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: var(--white-clr);
    margin: 0 auto;
    border-radius: 10rem;
    overflow: hidden;
}

.dashboard-chart-fill{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    background-color: var(--blue-clr);
}