<section>
    <div class="lp-banner-container">
        <div class="flex-y gap-2 gap-xl-5 justify-content-center align-items-center h-100">
            <h1 class="display-1 fw-bold"><%= page.banner.title %></h1>
            <div class="d-flex flex-column flex-md-row justify-content-between gap-2">
                <div class="col-md-4">
                    <p class="lp-banner-higlig"><%= page.banner.tag %></p>
                </div>
                <div class="col-md-5">
                    <p class="fw-medium lh-lg"><%= page.banner.content %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>