<section>
    <div class="py-5">
        <div class="calltoaction-container">
            <div>
                <strong><%= page.cta1.title %></strong>
                <p><%= page.cta1.content %></p>
                <a href="/contact-us"><%= page.cta1.btntxt %></a>
            </div>
        </div>
    </div>
</section>