<section>
    <div class="py-5">
        <div class="row justify-content-center g-4">
            <div class="col-md-12 col-xl-7">
                <div class="flex-y gap-4">
                    <div class="flex-y gap-1">
                        <p class="section-title">About Us</p>
                        <h2 class="head-txt-h2">Building Secure & Scalable <span class="theme-grad-text">Digital Solutions</span></h2>
                    </div>
                    <p class="text-justify para-txt">We are a Blockchain, Web3, and AI development company helping businesses transform ideas into
                        powerful, future-ready digital products. Our focus is on security, performance, and real-world
                        usability—not just code.</p>
                    <p class="text-justify para-txt">We’ve delivered high-impact blockchain and AI solutions for startups and enterprises worldwide.
                        From crypto exchanges and DeFi platforms to NFT marketplaces and smart automation, our work is
                        built to scale and perform.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-5">
                <div class="about-highlight aboutHl-padding">
                    <strong class="ah-text-head">5+</strong>
                    <p class="ah-text-para">Years</p>
                    <p class="ah-text-para">of Industry Experience</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="about-highlight aboutHl-padding">
                    <strong class="ah-text-head">50+</strong>
                    <p class="ah-text-para">Projects</p>
                    <p class="ah-text-para">Successfully Delivered</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                 <div class="about-highlight aboutHl-padding">
                    <strong class="ah-text-head">90+</strong>
                    <p class="ah-text-para">Global Clients</p>
                    <p class="ah-text-para">Across Multiple Industries</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="about-highlight aboutHl-padding">
                    <strong class="ah-text-head">99%</strong>
                    <p class="ah-text-para">Client Satisfaction</p>
                    <p class="ah-text-para">Security & Architecture</p>
                </div>
            </div>
        </div>
    </div>
</section>