<section>
    <div class="py-5">
        <div class="row justify-content-center g-4">
            <div class="col-lg-6">
                <div class="d-flex flex-column gap-3">
                    <h2>Building Secure & Scalable Digital Solutions</h2>
                    <p class="text-justify">We are a Blockchain, Web3, and AI development company helping businesses transform ideas into
                        powerful, future-ready digital products. Our focus is on security, performance, and real-world
                        usability—not just code.</p>
                    <p class="text-justify">We’ve delivered high-impact blockchain and AI solutions for startups and enterprises worldwide.
                        From crypto exchanges and DeFi platforms to NFT marketplaces and smart automation, our work is
                        built to scale and perform.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row justify-content-center g-2">
                    <div class="col-md-7">
                        <div class="about-highlight">
                            <p>5+ Years of Industry Experience</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="about-highlight">
                            <p>50+ Projects Successfully Delivered</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="about-highlight">
                            <p>Global Clients Across Multiple Industries</p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="about-highlight">
                            <p>Enterprise-Grade Security & Architecture</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>