<section>
    <div class="banner py-4">
        <div class="col-md-10 col-xl-7 mx-auto banner-content">
            <h1 class="banner-txt head-txt-h1"><span class="theme-grad-text">AI & Blockchain</span> Development for the Future of Business</h1>
            <p class="para-txt-head">We build intelligent AI solutions and secure blockchain platforms that drive innovation,
                enhance efficiency,
                and empower enterprises to lead in the digital era.</p>
            <div class="bodyflex gap-1">
                <div class="button-wrapper">
                    <div class="button-glow-blue"></div>
                    <a href="/contact-us" class="theme-btn">View Our Work
                        <svg class="arrow" viewBox="0 0 10 10" width="10" height="10" fill="none">
                            <path class="line" d="M0 5h7"></path>
                            <path class="arrow-head" d="M1 1l4 4-4 4"></path>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="banner-img">
            <img src="/images/png/Dummy-banner-bottom.png" alt="AI & Blockchain Development for the Future of Business"
                height="800" width="1200" class="img-fluid object-fit-cover rounded-4" fetchpriority="high">
        </div>
    </div>
</section>