<section>
    <div class="banner-background py-4">
        <picture class="position-relative">
            <source media="(max-width:767px)" srcset="/images/png/Dummy-banner-sm.png">
            <source media="(max-width:1339px)" srcset="/images/png/Dummy-banner-md.png">
            <img src="/images/png/Dummy-banner.png" alt="Dummy" width="1500" height="600"
                class="img-fluid rounded-2 object-fit-cover">
            <div class="col-lg-8 col-xl-6 mx-auto banner-content">
                <h1><strong>AI</strong> & <strong>Blockchain Development</strong> for the Future of Business</h1>
                <p>We build intelligent AI solutions and secure blockchain platforms that drive innovation,
                    enhance efficiency,
                    and empower enterprises to lead in the digital era.</p>
                <button class="btn btn-primary">Get Started Today</button>
            </div>
        </picture>
    </div>
</section>