<section>
    <div class="banner py-4">
        <div class="col-lg-8 col-xl-7 mx-auto banner-content">
            <h1 class="banner-txt">AI & Blockchain Development for the Future of Business</h1>
            <p>We build intelligent AI solutions and secure blockchain platforms that drive innovation,
                enhance efficiency,
                and empower enterprises to lead in the digital era.</p>
            <div class="bodyflex gap-1">
                <button class="btn btn-primary">Get Started Today</button>
                <button class="btn btn-primary">Get Started Today</button>
            </div>
        </div>
        <div class="banner-img">
            <img src="/images/png/Dummy-banner-bottom.png" alt="AI & Blockchain Development for the Future of Business"
                height="800" width="1200" class="img-fluid object-fit-cover rounded-4">
        </div>
    </div>
</section>