<section>
    <div class="py-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Our Case Study</h2>
            <a href="/" class="link-hover-effect">View All</a>
        </div>
        <div class="overflow-auto scrollbar-hide">
            <div class="custom-flex">
                <div>
                    <img src="/images/png/case-study.png" alt="caseStudy" width="350" height="650"
                        class="img-fluid rounded-2" loading="lazy">
                    <h3 class="fs-5 mt-2">AI-Powered Crypto Trading</h3>
                </div>

                <div>
                    <img src="/images/png/case-study.png" alt="caseStudy" width="350" height="650"
                        class="img-fluid rounded-2" loading="lazy">
                    <h3 class="fs-5 mt-2">Blockchain-Based Gaming</h3>
                </div>

                <div>
                    <img src="/images/png/case-study.png" alt="caseStudy" width="350" height="560"
                        class="img-fluid rounded-2" loading="lazy">
                    <h3 class="fs-5 mt-2">Secure Crypto Exchange</h3>
                </div>
                <div>
                    <img src="/images/png/case-study.png" alt="caseStudy" width="350" height="560"
                        class="img-fluid rounded-2" loading="lazy">
                    <h3 class="fs-5 mt-2">Secure Crypto Exchange</h3>
                </div>
                <div>
                    <img src="/images/png/case-study.png" alt="caseStudy" width="350" height="560"
                        class="img-fluid rounded-2" loading="lazy">
                    <h3 class="fs-5 mt-2">Secure Crypto Exchange</h3>
                </div>
            </div>
        </div>
    </div>
</section>