<section>
    <div class="py-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="head-txt-h2">Our <span class="theme-grad-text">Case Studies</span></h2>
            <div class="button-wrapper">
                <div class="button-glow-blue"></div>
                <a href="/case-study" class="theme-btn">View More
                    <svg class="arrow" viewBox="0 0 10 10" width="10" height="10" fill="none">
                        <path class="line" d="M0 5h7"></path>
                        <path class="arrow-head" d="M1 1l4 4-4 4"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="row justify-content-center gy-4 gy-md-0 gx-md-3 pt-2 pt-md-0">
            <div class="col-12 col-md-4">
                <div class="flex-y gap-2">
                    <img src="/images/png/case-study.png" alt="caseStudy" width="500" height="500"
                        class="img-fluid rounded-2" loading="lazy">
                    <h3 class="head-txt-h3">AI-Powered Crypto Trading</h3>
                    <p class="para-txt">Built an intelligent trading platform that increased trading efficiency using predictive analytics and automation.</p>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="flex-y gap-2">
                    <img src="/images/png/case-study.png" alt="caseStudy" width="500" height="500"
                        class="img-fluid rounded-2" loading="lazy">
                    <h3 class="head-txt-h3">Blockchain-Based Gaming</h3>
                    <p class="para-txt">Implemented blockchain tracking to improve transparency, reduce fraud, and enhance operational efficiency.</p>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="flex-y gap-2">
                    <img src="/images/png/case-study.png" alt="caseStudy" width="500" height="500"
                        class="img-fluid rounded-2" loading="lazy">
                    <h3 class="head-txt-h3">Secure Crypto Exchange</h3>
                    <p class="para-txt">Designed a scalable cryptocurrency exchange supporting thousands of daily transactions with enterprise-level security.</p>
                </div>
            </div>
        </div>
    </div>
</section>