<section>
    <div class="pt-1 pt-md-4 pt-xxl-5 pb-5">
        <div class="calltoaction-container">
            <div>
                <strong>Build the Future with AI & Blockchain Solutions</strong>
                <button>Get Started Today</button>
            </div>
        </div>
    </div>
</section>