<section>
    <div class="py-4">
        <div class="cta-bg">
            <h2>Build the Future with AI & Blockchain Solutions</h2>
            <button class="brand-btn">Get started Today</button>
        </div>
    </div>
</section>