<section>
    <div class="py-4">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Our Blogs</h2>
            <a href="" class="link-hover-effect">View All</a>
        </div>
        <div class="custom-overflow-scroll">
            <div class="custom-flex">
                <div>
                    <div class="position-relative">
                        <img src="/images/png/Dummy-blog.png" alt="caseStudy" width="500" height="650"
                            class="img-fluid rounded-2" loading="lazy">
                        <div class="blg-btn-handler">
                            <button class="blg-btn"><img src="/images/png/up-right-arrow.png" width="24" height="24" class="img-fluid" /></button>
                        </div>
                    </div>
                    <h3 class="fs-4 mt-2">AI-Powered Crypto Trading</h3>
                </div>

                <div>
                    <div class="position-relative">
                        <img src="/images/png/Dummy-blog.png" alt="caseStudy" width="500" height="650"
                            class="img-fluid rounded-2" loading="lazy">
                        <div class="blg-btn-handler">
                            <button class="blg-btn"><img src="/images/png/up-right-arrow.png" width="24" height="24" class="img-fluid" /></button>
                        </div>
                    </div>
                    <h3 class="fs-4 mt-2">Blockchain-Based Gaming</h3>
                </div>

                <div>
                    <div class="position-relative">
                        <img src="/images/png/Dummy-blog.png" alt="caseStudy" width="500" height="560"
                            class="img-fluid rounded-2" loading="lazy">
                        <div class="blg-btn-handler">
                            <button class="blg-btn"><img src="/images/png/up-right-arrow.png" width="24" height="24" class="img-fluid" /></button>
                        </div>
                    </div>
                    <h3 class="fs-4 mt-2">Secure Crypto Exchange</h3>
                </div>
            </div>
        </div>
    </div>
</section>