<section>
    <div class="py-5">
        <div class="py-4 text-center">
            <h2>From Idea to Impact</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="row gy-3 pt-4">
            <div class="col-12 col-lg-6">
                <div class="d-flex flex-row align-items-center gap-2">
                    <picture class="col-4 col-md-3 col-lg-4">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="185" height="185"
                            class="img-fluid rounded-2">
                    </picture>
                    <div class="col-8">
                        <h3 class="fs-5">Understanding Your Vision</h3>
                        <p>We gather your goals, audience, and technical needs to set the right direction.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-flex flex-row align-items-center gap-2">
                    <picture class="col-4 col-md-3 col-lg-4">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="185" height="185"
                        class="img-fluid rounded-2">
                    </picture>
                    <div class="col-8">
                        <h3 class="fs-5">Smart Strategies for Success</h3>
                        <p>A clear roadmap aligning timelines, features, and market opportunities.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-flex flex-row align-items-center gap-2">
                    <picture class="col-4 col-md-3 col-lg-4">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="185" height="185"
                        class="img-fluid rounded-2">
                    </picture>
                    <div class="col-8">
                        <h3 class="fs-5">Creative UI/UX Prototypes</h3>
                        <p>We create user-focused layouts ensuring a seamless visual experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-flex flex-row align-items-center gap-2">
                    <picture class="col-4 col-md-3 col-lg-4">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="185" height="185"
                        class="img-fluid rounded-2">
                    </picture>
                    <div class="col-8">
                        <h3 class="fs-5">Fast, Flexible Development</h3>
                        <p>Our team builds scalable solutions with fast, iterative improvements.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-flex flex-row align-items-center gap-2">
                    <picture class="col-4 col-md-3 col-lg-4">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="185" height="185"
                        class="img-fluid rounded-2">
                    </picture>
                    <div class="col-8">
                        <h3 class="fs-5">Rigorous Testing for Quality</h3>
                        <p>Every feature is tested for speed, security, and flawless performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-flex flex-row align-items-center gap-2">
                    <picture class="col-4 col-md-3 col-lg-4">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="185" height="185"
                        class="img-fluid rounded-2">
                    </picture>
                    <div class="col-8">
                        <h3 class="fs-5">Seamless Product Launch</h3>
                        <p>We launch your product and provide regular updates to keep it at peak.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>