<section>
    <div class="py-5">
        <div class="text-center">
            <h2 class="head-txt-h2 mb-3">From Idea to <span class="theme-grad-text">Impact</span></h2>
            <p class="para-txt-head">Our proven development process ensures transparency, quality, and successful project delivery.</p>
        </div>
        <div class="row gy-4 gy-xl-3 pt-4">
            <div class="col-12 col-lg-6">
                <div class="row justify-content-center g-3 align-items-center">
                    <picture class="col-12 col-md-4 col-lg-12 col-xl-4">
                        <!-- 1. Screen size above 1200px (1201px and up) -->
                        <source media="(min-width: 1201px)" srcset="/images/png/idea-side-img.png">

                        <!-- 2. Screen size from 992px to 1200px -->
                        <source media="(min-width: 992px)" srcset="/images/png/idea-side-img-res.png">

                        <!-- 3. Screen size from 768px to 991px -->
                        <source media="(min-width: 768px)" srcset="/images/png/idea-side-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="450" height="250"
                            class="img-fluid rounded-2">
                    </picture>
                    <div class="col-12 col-md-8 col-lg-12 col-xl-8">
                        <div class="flex-y gap-2">
                            <h3 class="head-txt-h3">Understanding Your Vision</h3>
                            <p class="para-txt">We gather your goals, audience, and technical needs to set the right direction.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-center g-3 align-items-center">
                    <picture class="col-12 col-md-4 col-lg-12 col-xl-4">
                        <!-- 1. Screen size above 1200px (1201px and up) -->
                        <source media="(min-width: 1201px)" srcset="/images/png/idea-side-img.png">

                        <!-- 2. Screen size from 992px to 1200px -->
                        <source media="(min-width: 992px)" srcset="/images/png/idea-side-img-res.png">

                        <!-- 3. Screen size from 768px to 991px -->
                        <source media="(min-width: 768px)" srcset="/images/png/idea-side-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="450" height="250"
                        class="img-fluid rounded-2">
                    </picture>
                    <div class="col-12 col-md-8 col-lg-12 col-xl-8">
                        <div class="flex-y gap-2">
                            <h3 class="head-txt-h3">Smart Strategies for Success</h3>
                            <p class="para-txt">A clear roadmap aligning timelines, features, and market opportunities.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-center g-3 align-items-center">
                    <picture class="col-12 col-md-4 col-lg-12 col-xl-4">
                        <!-- 1. Screen size above 1200px (1201px and up) -->
                        <source media="(min-width: 1201px)" srcset="/images/png/idea-side-img.png">

                        <!-- 2. Screen size from 992px to 1200px -->
                        <source media="(min-width: 992px)" srcset="/images/png/idea-side-img-res.png">

                        <!-- 3. Screen size from 768px to 991px -->
                        <source media="(min-width: 768px)" srcset="/images/png/idea-side-img.png">
                        <img src="/images/png/idea-side-img-res.png" alt="Dummy" width="450" height="250"
                        class="img-fluid rounded-2">
                    </picture>
                    <div class="col-12 col-md-8 col-lg-12 col-xl-8">
                        <div class="flex-y gap-2">
                            <h3 class="head-txt-h3">Creative UI/UX Prototypes</h3>
                            <p class="para-txt">We create user-focused layouts ensuring a seamless visual experience.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-center g-3 align-items-center">
                    <picture class="col-12 col-md-4 col-lg-12 col-xl-4">
                        <!-- 1. Screen size above 1200px (1201px and up) -->
                        <source media="(min-width: 1201px)" srcset="/images/png/idea-side-img.png">

                        <!-- 2. Screen size from 992px to 1200px -->
                        <source media="(min-width: 992px)" srcset="/images/png/idea-side-img-res.png">

                        <!-- 3. Screen size from 768px to 991px -->
                        <source media="(min-width: 768px)" srcset="/images/png/idea-side-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="450" height="250"
                        class="img-fluid rounded-2">
                    </picture>
                    <div class="col-12 col-md-8 col-lg-12 col-xl-8">
                        <div class="flex-y gap-2">
                            <h3 class="head-txt-h3">Fast, Flexible Development</h3>
                            <p class="para-txt">Our team builds scalable solutions with fast, iterative improvements.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-center g-3 align-items-center">
                    <picture class="col-12 col-md-4 col-lg-12 col-xl-4">
                        <!-- 1. Screen size above 1200px (1201px and up) -->
                        <source media="(min-width: 1201px)" srcset="/images/png/idea-side-img.png">

                        <!-- 2. Screen size from 992px to 1200px -->
                        <source media="(min-width: 992px)" srcset="/images/png/idea-side-img-res.png">

                        <!-- 3. Screen size from 768px to 991px -->
                        <source media="(min-width: 768px)" srcset="/images/png/idea-side-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="450" height="250"
                        class="img-fluid rounded-2">
                    </picture>
                    <div class="col-12 col-md-8 col-lg-12 col-xl-8">
                        <div class="flex-y gap-2">
                            <h3 class="head-txt-h3">Rigorous Testing for Quality</h3>
                            <p class="para-txt">Every feature is tested for speed, security, and flawless performance.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-center g-3 align-items-center">
                    <picture class="col-12 col-md-4 col-lg-12 col-xl-4">
                        <!-- 1. Screen size above 1200px (1201px and up) -->
                        <source media="(min-width: 1201px)" srcset="/images/png/idea-side-img.png">

                        <!-- 2. Screen size from 992px to 1200px -->
                        <source media="(min-width: 992px)" srcset="/images/png/idea-side-img-res.png">

                        <!-- 3. Screen size from 768px to 991px -->
                        <source media="(min-width: 768px)" srcset="/images/png/idea-side-img.png">
                        <img src="/images/png/idea-side-img.png" alt="Dummy" width="450" height="250"
                        class="img-fluid rounded-2">
                    </picture>
                    <div class="col-12 col-md-8 col-lg-12 col-xl-8">
                        <div class="flex-y gap-2">
                            <h3 class="head-txt-h3">Seamless Product Launch</h3>
                            <p class="para-txt">We launch your product and provide regular updates to keep it at peak.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>