<section>
    <div class="py-5">
        <div class="col-xl-10 mx-auto text-center">
            <h2 class="head-txt-h2 mb-3">Our Industry <span class="theme-grad-text">Expertise</span></h2>
            <p class="para-txt-head">Delivering tailored technology solutions across multiple industries with deep domain knowledge.</p>
        </div>
        <div class="row justify-content-center g-3 pt-4">
            <div class="col-6 col-md-4 col-xl-3">
                <div class="industry-container">
                    <p class="ic-para-txt mb-0">Finance</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-3">
                <div class="industry-container">
                    <p class="ic-para-txt mb-0">Retail</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-3">
                <div class="industry-container">
                    <p class="ic-para-txt mb-0">Automobile</p>
                </div>
            </div>
            <div class="col-6 col-md-4 col-xl-3">
                <div class="industry-container">
                    <p class="ic-para-txt mb-0">Agriculture</p>
                </div>
            </div>
            <div class="col-5 col-md-4 col-xl-3">
                <div class="industry-container">
                    <p class="ic-para-txt mb-0">Education</p>
                </div>
            </div>
            <div class="col-7 col-md-4 col-xl-3">
                <div class="industry-container">
                    <p class="ic-para-txt mb-0">Energy & Utilities</p>
                </div>
            </div>
            <div class="col-12 col-md-5 col-xl-3">
                <div class="industry-container">
                    <p class="ic-para-txt mb-0">Entertainment & Media</p>
                </div>
            </div>
            <div class="col-12 col-md-7 col-xl-3">
                <div class="industry-container">
                    <p class="ic-para-txt mb-0">Transportation & Logistics</p>
                </div>
            </div>
        </div>
    </div>
</section>