<section>
    <div class="py-5">
        <div class="d-flex align-items-center justify-content-between">
            <h2>Latest Products</h2>
            <a href="" class="link-hover-effect">View all</a>
        </div>
        <div>
            <div class="row gx-2 gy-3">
                <div class="col-12 col-md-6">
                    <a href="" class="text-decoration-none text-dark">
                        <img src="/images/png/latest-product.png" alt="Dummy" width="750" height="450"
                            class="img-fluid rounded-2 mb-2">
                        <h3>AI Crypto Trading Bot</h3>
                        <p>An intelligent bot designed to analyze market trends, execute trades, and maximize ROI with
                            precision and speed.</p>
                        <a href="" class="view-more-btn"><span>Explore Trading Bot</span><img src="/images/png/right-arrow-black.png" alt="Right-Arrow" width="24" height="24"
                                    class="img-fluid arrow-view-effect" /></a>
                    </a>
                </div>
                <div class="col-12 col-md-6">
                    <a href="" class="text-decoration-none text-dark">
                        <img src="/images/png/latest-product.png" alt="Dummy" width="750" height="450"
                            class="img-fluid rounded-2 mb-2">
                        <h3>White-Label Crypto Exchange</h3>
                        <p>A ready-to-launch exchange solution with secure transactions, advanced features, and full customization options.</p>
                        <a href="" class="view-more-btn"><span>See Exchange Demo</span><img src="/images/png/right-arrow-black.png" alt="Right-Arrow" width="24" height="24"
                                    class="img-fluid arrow-view-effect" /></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>