<section>
    <div class="py-4">
        <div class="d-flex justify-content-between align-items-center my-2">
            <h2>Our Blogs</h2>
            <a href="" class="link-hover-effect">View All</a>
        </div>
        <div class="custom-overflow-scroll">
            <div class="d-flex align-items-center gap-2">
                <div>
                    <div class="blog-img">
                        <img src="/images/png/latest-product.png" alt="caseStudy" width="500" height="150"
                            class="img-fluid rounded-2" loading="lazy">
                        <div class="btn-handler">
                            <button class="blog-btn"><img src="/images/png/up-right-arrow.png" alt="rightarrow" width="24" height="24" class="img-fluid"></button>
                        </div>
                    </div>
                    <h3 class="fs-4 mt-2">AI-Powered Crypto Trading</h3>
                </div>

                <div>
                    <div class="blog-img">
                        <img src="/images/png/latest-product.png" alt="caseStudy" width="500" height="650"
                            class="img-fluid rounded-2" loading="lazy">
                        <div class="btn-handler">
                            <button class="blog-btn"><img src="/images/png/up-right-arrow.png" alt="rightarrow" width="24" height="24" class="img-fluid"></button>
                        </div>
                    </div>
                    <h3 class="fs-4 mt-2">Blockchain-Based Gaming</h3>
                </div>

                <div>
                    <div class="blog-img">
                        <img src="/images/png/latest-product.png" alt="caseStudy" width="500" height="450"
                            class="img-fluid rounded-2" loading="lazy">
                        <div class="btn-handler">
                            <button class="blog-btn"><img src="/images/png/up-right-arrow.png" alt="rightarrow" width="24" height="24" class="img-fluid"></button>
                        </div>
                    </div>
                    <h3 class="fs-4 mt-2">Secure Crypto Exchange</h3>
                </div>
            </div>
        </div>
    </div>
</section>