<section>
    <div class="py-4">
        <div class="row gy-4">
            <div class="col-12 col-lg-8">
                <div class="sticky-content service-short-cut">
                    <picture>
                        <source media="(max-width:576px)" srcset="/images/png/service-post.png">
                        <img src="/images/png/service-banner.png" alt="Dummy" width="1000" height="400"
                            class="img-fluid rounded-2">
                    </picture>
                    <div class="my-2 text-center text-sm-start">
                        <h2 class="fw-medium text-color-effect"><span class="text-primary">Crypto Exchange</span>
                            Development Company</h2>
                        <p>Build secure and scalable crypto exchanges with global market features</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="d-flex flex-column flex-sm-row flex-lg-column gap-2 justify-content-center">
                    <div class="service-short-cut">
                        <img src="/images/png/service-post.png" alt="Dummy" width="600" height="600"
                            class="img-fluid rounded-2">
                        <div class="my-2 text-center text-md-start">
                            <h2 class="fs-4 fw-medium text-color-effect"><span class="text-primary">Trading Bot</span> Development
                            </h2>
                            <p>Smart trading bots with real-time analytics and automated strategies.</p>
                        </div>
                    </div>
                    <div class="service-short-cut">
                        <img src="/images/png/service-post.png" alt="Dummy" width="600" height="600"
                            class="img-fluid rounded-2">
                        <div class="my-2 text-center text-md-start">
                            <h2 class="fs-4 fw-medium text-color-effect"><span class="text-primary">Token</span> Development
                            </h2>
                            <p>Create immersive games with stunning visuals and engaging gameplay.</p>
                        </div>
                    </div>
                    <div class="service-short-cut">
                        <img src="/images/png/service-post.png" alt="Dummy" width="600" height="600"
                            class="img-fluid rounded-2">
                        <div class="my-2 text-center text-md-start">
                            <h2 class="fs-4 fw-medium text-color-effect"><span class="text-primary">Game</span> Development
                            </h2>
                            <p>Develop secure, blockchain-compliant tokens for ICOs, NFTs, and apps.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>