<section>
    <div class="py-5">
        <div class="text-center py-4">
            <h2 class="head-txt-h2 mb-3">Your Digital <span class="theme-grad-text">Future. Now.</span></h2>
            <p class="para-txt-head">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="row gy-4">
            <div class="col-12 col-xl-8">
                <div class="sticky-content service-short-cut">
                    <picture>
                        <source media="(max-width:576px)" srcset="/images/png/service-post.png">
                        <img src="/images/png/service-banner.png" alt="Dummy" width="1000" height="400"
                            class="img-fluid rounded-2" loading="lazy">
                    </picture>
                    <div class="my-4 mt-xl-4 flex-y gap-3">
                        <h3 class="head-txt-h3"><span class="theme-grad-text">Crypto Exchange</span>
                            Development Company</h3>
                        <p class="para-txt">
                            Build secure and scalable <a href="/services/crypto-exchange-development" class="text-black">crypto exchanges</a> with global market features
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="row justify-content-center g-3">
                    <div class="col-12 col-md-6 col-xl-12">
                        <div class="service-short-cut">
                            <img src="/images/png/service-post.png" alt="Dummy" width="600" height="600"
                                class="img-fluid rounded-2" loadig="lazy">
                            <div class="my-4 mt-xl-4 flex-y gap-3">
                                <h3 class="head-txt-h3"><span class="theme-grad-text">Ai  ChatBot</span> Development
                                </h3>
                                <p class="para-txt">Smart <a href="/services/ai-chatbot-development" class="text-black">AI chatbots</a> with real-time analytics and automated strategies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-12">
                        <div class="service-short-cut">
                            <img src="/images/png/service-post.png" alt="Dummy" width="600" height="600"
                                class="img-fluid rounded-2" loadig="lazy">
                            <div class="my-4 mt-xl-4 flex-y gap-3">
                                <h3 class="head-txt-h3"><span class="theme-grad-text">DeFi</span> Development
                                </h3>
                                <p class="para-txt">Develop <a href="/services/defi-development-service" class="text-black">decentralized finance</a> platforms for lending, staking, trading, and yield opportunities.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="service-short-cut">
                            <picture>
                                <source media="(min-width: 1201px)" srcset="/images/png/service-post.png">
    
                                <!-- Screen sizes between 577px and 1200px (Tablets & Laptops) -->
                                <source media="(min-width: 577px)" srcset="/images/png/service-banner.png">
                                <img src="/images/png/service-post.png" alt="Dummy" width="1000" height="400"
                                    class="img-fluid rounded-2" loading="lazy">
                            </picture>
                            <div class="my-4 mt-xl-4 flex-y gap-3">
                                <h3 class="head-txt-h3"><span class="theme-grad-text">Wallet</span> Development
                                </h3>
                                <p class="para-txt">Build secure <a href="/services/defi-development-service" class="text-black">cryptocurrency wallets</a> enabling safe storage, transfers, and asset management.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>