<section>
    <div class="py-5">
        <div class="text-center py-4">
            <h2>Your Digital Future. Now.</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="row gy-4">
            <div class="col-12 col-lg-8">
                <div class="sticky-content service-short-cut">
                    <picture>
                        <source media="(max-width:576px)" srcset="/images/png/service-post.png">
                        <img src="/images/png/service-banner.png" alt="Dummy" width="1000" height="400"
                            class="img-fluid rounded-2">
                    </picture>
                    <div class="my-4 my-xl-2 text-center text-sm-start">
                        <h3 class="fw-medium text-color-effect"><span class="text-primary">Crypto Exchange</span>
                            Development Company</h3>
                        <p>Build secure and scalable <a href="/services/crypto-exchange-development" class="text-decoration-none">crypto exchanges</a> with global market features</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="d-flex flex-column flex-sm-row flex-lg-column gap-2 justify-content-center">
                    <div class="service-short-cut">
                        <img src="/images/png/service-post.png" alt="Dummy" width="600" height="600"
                            class="img-fluid rounded-2">
                        <div class="my-4 my-xl-2 text-center text-md-start">
                            <h3 class="fs-4 fw-medium text-color-effect"><span class="text-primary">Ai  ChatBot</span> Development
                            </h3>
                            <p>Smart <a href="/services/ai-chatbot-development" class="text-decoration-none">AI chatbots</a> with real-time analytics and automated strategies.</p>
                        </div>
                    </div>
                    <div class="service-short-cut">
                        <img src="/images/png/service-post.png" alt="Dummy" width="600" height="600"
                            class="img-fluid rounded-2">
                        <div class="my-4 my-xl-2 text-center text-md-start">
                            <h3 class="fs-4 fw-medium text-color-effect"><span class="text-primary">DeFi</span> Development
                            </h3>
                            <p>Develop <a href="/services/defi-development-service" class="text-decoration-none">decentralized finance</a> platforms for lending, staking, trading, and yield opportunities.</p>
                        </div>
                    </div>
                    <div class="service-short-cut">
                        <img src="/images/png/service-post.png" alt="Dummy" width="600" height="600"
                        class="img-fluid rounded-2">
                        <div class="my-4 my-xl-2 text-center text-md-start">
                            <h3 class="fs-4 fw-medium text-color-effect"><span class="text-primary">Wallet</span> Development
                            </h3>
                            <p>Build secure <a href="/services/defi-development-service" class="text-decoration-none">cryptocurrency wallets</a> enabling safe storage, transfers, and asset management.</p>
                            <p>Develop secure, blockchain-compliant tokens for ICOs, NFTs, and apps.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>