<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/partials/headLinks.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <%- include('../components/home/banner.ejs') %>
    <%- include('../components/partials/footerLinks.ejs') %>
</body>
</html>