<section>
  <div class="roe justify-content-center">
    <div class="col-xl-2">
      <div>
        <span><a href="/">Seo Form</a></span>
      </div>
    </div>
    <div class="col-xl-10">
      <div>
          <%- include('./seoForm.ejs') %>
      </div>
    </div>
  </div>
</section>