<!DOCTYPE html>
<html>

<head>
  <title>SEO Dashboard</title>
  <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/admin/admin.css">
</head>

<body>
  <h2 class="text-start">Seo Form</h2>
  <form action="/admin/metaForm" method="POST" class="row row-cols-1 gap-2">
    <div class="form-feild">
      <label>URL:</label>
      <input type="text" name="slug" class="form-control" required >
    </div>
    <div class="form-feild">
      <label>Meta Title:</label>
      <input type="text" name="metaTitle" class="form-control" required>
    </div>

    <div class="form-feild">
      <label>Meta Description:</label>
      <textarea name="metaDescription" class="form-control" required></textarea>
    </div>
    <div class="form-feild">
      <label>Meta Keyword:</label>
      <input type="text" name="metaKeyword" class="form-control">
    </div>
    <div class="mt-3s">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</body>

</html>