<section>
    <div class="py-5">
        <div class="col-lg-10 col-xl-7 mx-auto text-center">
            <h2 class="display-6"><%= page.lastSection.title %></h2>
            <p><%= page.lastSection.shortDes %></p>
        </div>
        <div class="row justify-content-center g-3 mt-5">
            <% page.lastSection.content.forEach(relatedCnt => { %>
                <div class="col-md-4 col-xl-3">
                    <div class="card-layout-4">
                        <h3 class="fs-6"><%= relatedCnt.head %></h3>
                        <p><%= relatedCnt.headDes %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>